.cartWrapper {
  height: 100%;
}

.title {
  margin-bottom: 10px;
  height: 100px;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.cartImg {
  width: 60px;
  object-fit: cover;
}

.content {
  width: 1100px;
  margin: 0 auto 40px;
  display: flex;
  column-gap: 20px;
  justify-content: center;
}

.cartMain {
  padding: 10px 30px;
  width: 700px;
  min-height: 100px;
  background-color: #bdc9cf;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cartTotal {
  color: #02094e;
}

.cardList {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cartProduct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  background-color: #02094e;
}

.link {
  max-height: 60px;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: #d6eaf5;
  }
}

.cartLeftBlock {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.cartLogo {
  width: 40px;
  height: 60px;
  object-fit: cover;
}

.cartRightBlock {
  min-width: 250px;
  display: flex;
  column-gap: 15px;
}

.quantityBlock {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  min-width: 100px;
}

.quantity {
  background-color: white;
  min-width: 30px;
  text-align: center;
  padding: 2px 5px;
  color: #02094e;
  font-weight: bold;
  border-radius: 5px;
}

.quantityBtn {
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  &:disabled {
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
  }
}

.priceBlock {
  min-width: 120px;
  display: flex;
  justify-content: space-between;
}

.delBtn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  padding-right: 10px;
  transition: all 0.25s;

  &:hover {
    transform: scale(1.2);
    color: #e92222;
  }
}

.checkoutBtn {
  align-self: center;
  padding: 10px;
  background-color: #3c48b3;
  border: none;
  border-radius: 7px;
  font-family: Lato, sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    transform: scale(1.1);
  }
}

.orderWrapper {
  width: 500px;
  min-height: 500px;
  padding: 20px 20px 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  background-color: #bdc9cf;
}

.orderTitle {
  color: #02094e
}

.ordersContainer {
  padding: 5px 5px 20px;
  width: 100%;
  max-height: 400px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ordersOverflow {
  overflow-y: scroll;
  overflow-x: hidden;
}

.orderedProduct {
  padding: 0 5px;
  height: 70px;
  border-bottom: 2px solid #b1cbd9;
  display: flex;
  align-items: center;
}

.orderedProductLogo {
  width: 30px;
  height: 50px;
  object-fit: cover;
}

.nameOrderedProduct {
  text-decoration: none;
  color: #02094e;
}

.orderedProductQuantity {
  min-width: 30px;
  padding: 2px 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  background-color: #02094e;
  color: #ffffff;
}

.orderedLeftBlock {
  min-width: 300px;
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.orderedRightBlock {
  min-width: 250px;
  display: flex;
  column-gap: 15px;
}

.orderedTotal {
  color: #02094e;
  font-size: 20px;
}


