@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-regular/ubuntu.eot');
    src: local('Ubuntu'),
    url('../fonts/ubuntu-regular/ubuntu.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-regular/ubuntu.woff2') format('woff2'),
    url('../fonts/ubuntu-regular/ubuntu.woff') format('woff'),
    url('../fonts/ubuntu-regular/ubuntu.svg') format('svg'),
    url('../fonts/ubuntu-regular/ubuntu.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/ubuntu-bold/ubuntu-bold.eot');
    src: local('Ubuntu'),
    url('../fonts/ubuntu-bold/ubuntu-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/ubuntu-bold/ubuntu-bold.woff2') format('woff2'),
    url('../fonts/ubuntu-bold/ubuntu-bold.woff') format('woff'),
    url('../fonts/ubuntu-bold/ubuntu-bold.svg') format('svg'),
    url('../fonts/ubuntu-bold/ubuntu-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}