.btn {
  padding: 11px 24px;
  background-color: $primary-color;
  border-radius: 40px;
  border-color: transparent;
  @include text-prop(700,16px,16px);
  white-space:nowrap;
  cursor: pointer;

  &:hover {
    background-color: #FFFFFF;
    color: #8D81AC;
    border: 2px solid #8D81AC;
  }
}