
.header {
  &__container {

    width: 86%;
    min-width: 267px;
    position: relative;
    @include flex-column();
    align-items: center;
    margin: 23px 8% 42px 6%;

    @media (min-width: 768px ) {
      margin: 23px 10% 59px 8%;
      width: 82%;
    }

    @media (min-width: 1200px ) {
      margin: 29px auto 69px;
      width: 1170px;
    }
  }

  &__menu {
    display: flex;

    &--position {
      align-self: flex-end;
      margin-bottom: 23px;
      @media (min-width: 768px ) {
        margin-bottom: 28px;
        align-self: center;
      }

      @media (min-width: 1200px ) {
        margin-bottom: 34px;
        align-self: center;
      }
    }

  }

  &__menu-list {
    width: 100%;
    display: flex;
    gap: 34px;
    justify-content: center;

    @media (min-width: 1200px ) {
      gap:  68px;
    }
  }

  &__menu-link {
    font-family: Roboto, sans-serif;
    font-size: 11px;
    line-height: 29px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    color: $text-color;
    cursor: pointer;

    &:hover {
      color: $active-color;
    }
  }

  &__picture {

    min-width: 267px;
    width: 100%;

    @media (min-width: 1200px ) {
      //max-width: 1170px;
      width: 1170px;
    }
  }

}



.ham-menu {
  display: none;
  height: 37px;
  width: 44px;
  padding: 5px;
  z-index: 2;
  background-color: black;

  &.show {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2px;

  }
  &.active {
    padding-top: 7px;
    padding-left: 7px;
  }
}

.ham-menu .line {
  background-color: white;
  width: 17px;
  height: 2px;
}

.ham-menu .line1 {
  transform-origin: 0% 0%;
  transition: transform 100ms ease-in-out;
}

.ham-menu .line3 {
  transform-origin: 0% 100%;
  transition: transform 100ms ease-in-out;
}


.ham-menu.active .line1 {
  display: block;
  //transform: rotate(45deg);
  transform: rotate(45deg) translate(-1px, -5px);
}

.ham-menu.active .line2 {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
}

.ham-menu.active .line3 {
  display: block;
  transform: rotate(-45deg) translate(2px, 1px);
}

.ham-menu-content {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 182px;
  height: 208px;
  background-color: #F5F5F5;
  position: absolute;
  top: 37px;
  right: 0;


  &.show {
    display: flex;
    animation: growDown 600ms ease-in-out;

    @media (min-width: 768px ) {
      display: none;
    }
  }

}



@keyframes growDown {
  0% {
    transform: scaleY(0)
  }
  80% {
    transform: scaleY(1.1)
  }
  100% {
    transform: scaleY(1)
  }
}





.ham-menu-item {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #E5E5E5;
  }
}

.ham-menu-link {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #4E4E4E;
  padding-left: 12px;

  &.first {
    color: $active-color;
  }
}





















