.shots {

  &__container {

    padding: 38px 8% 42px 6%;

    @media (min-width: 768px) {
      padding: 47px 10% 50px 8%;
      background-color: #F7F7F7;
    }

    @media (min-width: 1200px ) {
      padding: 47px 0 49px;
      @include flex-column;
      align-items: center;
    }

  }

  &__header{
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;

    @media (min-width: 1200px ) {
        width: 1170px;
    }

    &--position {
      margin-bottom: 23px;
    }
  }

}

.title--ss {
  display: inline-block;
  @media (min-width: 768px) {
    display: none;
  }
}

.title--ls {
  display: none;
  font-size: 16px;
  @media (min-width: 768px) {
    display: inline-block;
  }
}

.shots_link {
  display: none;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: #4E4E4E;
  line-height: 22px;
  font-size: 12px;
  text-transform: uppercase;
  cursor:pointer;
  @media (min-width: 768px) {
    display: inline-block;
  }
}

.shots_cards {
  width: 100%;
  display: grid;
  grid-template-columns: 301px;
  grid-template-rows: 301px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, minmax(208px,auto));
    column-gap: 9px;
    grid-template-rows: minmax(208px,26.5vw);
  }
  @media (min-width: 1200px) {
    width: 1170px;
    grid-template-columns: repeat(4, 282px);
    column-gap: 0;
    justify-content: space-between;
    grid-template-rows:282px;
  }
}

.shots_card {
  @include bg-img();

  &-link1 {
    background-image: url("../img/shots1.png");
  }
  &-link2 {
    background-image: url("../img/shots2.png");
  }
  &-link3 {
    background-image: url("../img/shots3.png");
  }
  &-link4 {
    background-image: url("../img/shots2.png");
  }

}

