.switcherWrapper {
  align-self: flex-end;
  margin-right: 70px;
  margin-bottom: 30px;
  display: flex;
  column-gap: 15px;
}

.btn {
  padding: 5px 10px;
  background-color: #bdc9cf;
  width: 70px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-align: center;


  &.active {
    background-color: #7897a8;
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}