.btn{
  padding: 8px 6px;
  border: none;
  cursor:pointer;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.25s;
  border-radius: 5px;


  &:hover {
    transform: scale(1.1);
  }
}