@font-face {
  font-family: 'Montserrat-Bold';
  src: url(./Montserrat-Bold.eot);
  src: url(./Montserrat-Bold.eot?#iefix) format('embedded-opentype'),
       url(./Montserrat-Bold.svg#Montserrat-Bold) format('svg'),
       url(./Montserrat-Bold.woff) format('woff'),
       url(./Montserrat-Bold.woff2) format('woff2'),
       url(./Montserrat-Bold.otf) format('otf');
}
