.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal{
  max-width: 515px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}

.addProductModal {

  background-color: #adb2c7;
  border-radius: 10px;

  &Title{
    margin: 0;
    color: #ffffff;
    width: 100%;
    font-weight: 500;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 60px;
    font-size: 22px;
  }

  &Header{
    width: 100%;
    padding:0 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 20px;
    background-color: #02094e;
    font-family: "Helvetica Neue", sans-serif;
    color: #ffffff;
    font-weight: 500;
    line-height: 60px;
    font-size: 22px;
    border-radius: 10px 10px 0 0;
  }

  &Close{
    background-color: transparent;
    font-size: 30px;
    border: none;
    color:#ffffff;
    font-weight: 400;
    padding: 0;
    transition: all 0.25s;
    cursor: pointer;

    &:hover {
      color: #c41414;
      transform: rotate(90deg);
    }
  }

  &Text{
    max-width: 450px;
    margin: 25px 0;
    padding: 0 20px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #02094e;
    text-align: center;
    align-self: center;
  }

  &Actions {
    align-self: center;
    display: flex;
    column-gap: 30px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

.delModal {

  background-color: #3c48b3;

  &Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:0 28px;
    background-color: #041077;
    color: #ffffff;
    width: 100%;
    font-weight: 500;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 60px;
    font-size: 22px;
  }

  &Title{
    margin: 0;
    color: #ffffff;
    width: 100%;
    font-weight: 500;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 60px;
    font-size: 22px;
  }

  &Close{
    background-color: transparent;
    font-size: 30px;
    border: none;
    color:#ffffff;
    font-weight: 400;
    padding: 0;
    transition: all 0.25s;
    cursor: pointer;

    &:hover {
      color: #bf1212;
      transform: rotate(90deg);
    }
  }

  &Text{
    max-width: 450px;
    margin: 25px 0;
    padding: 0 20px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    align-self: center;
  }

  &Actions {
    align-self: center;
    display: flex;
    column-gap: 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}


