@import url("https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@400;500;600&display=swap");


:root {
    --body-bg-color: #ffffff;
    --header-bg-color: #fbf0f4;
    --a-color: #150101;
    --a-color-active: #d23166;
    --btn-bg-color: #d23166;
    --btn-color: #fafafa;
    --header-slogan-color: #0f0101;
    --header-title-selected-color: #d23166;
    --option-list-color: #000000;
    --product-title-color: #150101;
    --product-list-item: #000000;
    --products-list-item-selected: #d64374;
}

:root[dark-theme='active'] {
    --body-bg-color: #02094e;
    --header-bg-color: #0a1bc4;
    --a-color: #d6eaf5;
    --a-color-active: #f5f506;
    --btn-bg-color: #660707;
    --btn-color: #d6eaf5;
    --header-slogan-color: #d6eaf5;
    --header-title-selected-color: #660707;
    --option-list-color: #d6eaf5;
    --product-title-color: #d6eaf5;
    --product-list-item: #d6eaf5;
    --products-list-item-selected: #3ad21c;
}


body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg-color);
}

.main-header {
    background: var(--header-bg-color);
    height: 100vh;
    max-height: 862px;
}

.main-nav-list {
    display: flex;
}

.main-nav-item a {
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: var(--a-color);
    opacity: 0.6;
    font-weight: bold;
    margin-right: 40px;
}

.main-nav-item-active a {
    font-size: 15px;
    line-height: 18px;
    color: var(--a-color-active);
}

.btn-primary {
    font-weight: bold;
    background: var(--btn-bg-color);
    border-radius: 5px;
    padding: 14px 50px;
    color: var(--btn-color);
    border: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.main-header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-slogan {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: var(--header-slogan-color);
    margin-bottom: 6px;
}

.header-title {
    font-size: 57px;
    line-height: 1.21;
    color: var(--header-slogan-color);
    opacity: 0.9;
    width: 665px;
    font-family: "Fredoka One", cursive;
    margin-bottom: 35px;
}

.header-description {
    font-family: "Hind Madurai", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: var(--header-slogan-color);
    opacity: 0.6;
    width: 523px;
    margin-bottom: 50px;
}

.header-title-selected {
    margin-left: 10px;
    color: var(--header-title-selected-color);
}

.d-flex {
    display: flex;
}

.header-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    /* 100vh - main-header-content */
    height: calc(100vh - 81px);
    max-height: calc(862px - 81px);
}

.section-options {
    padding: 100px 0;
}

.options-list {
    display: flex;
    justify-content: space-between;
}

.options-list-item {
    width: 250px;
    font-family: "Hind Madurai", sans-serif;
    color: var(--option-list-color);
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-sizing: border-box;
    border-radius: 7px;
    padding: 39px;
}

.options-list-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 9px;
}

.options-list-text {
    font-size: 14px;
    line-height: 19px;

    opacity: 0.6;
}

.section-products {
    padding-top: 137px;
}

.products-title {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 600;
    font-size: 44px;
    line-height: 61px;
    color: var(--product-title-color);
    margin-bottom: 64px;
    text-align: center;
}

.products-list {
    display: flex;
    justify-content: center;
}

.products-list-item {
    margin-right: 39px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: var(--product-list-item);
    opacity: 0.6;
}

.products-list-item.selected {
    border-bottom: 3px solid var(--products-list-item-selected);
    opacity: 1;
}

.product-item-title {
    font-family: "Hind Madurai", sans-serif;
    font-size: 26px;
    font-weight: bold;
    line-height: 36px;
    color: var(--product-list-item);
    margin-top: 110px;
}

.product-item-description {
    font-size: 16px;
    line-height: 24px;
    color: var(--product-list-item);

    opacity: 0.7;
    margin-bottom: 12px;
}

.product-item-price {
    font-family: "Hind Madurai", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
    color: var(--product-list-item);
    margin-bottom: 10px;
}

.product-item-price .old {
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
    margin-left: 5px;

    opacity: 0.7;
}

.product-item-content {
    margin-left: 85px;
}

.btn-change {
    font-weight: bold;
    background: #09f2a5;
    border-radius: 5px;
    padding: 14px 50px;
    color: #02094e;
    border: 0;
}