@mixin text-prop {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  color: $text-color;
  font-size: 14px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin flex-row {
  display: flex;
}