.editor {

  &__container {
    @include flex-column();
    align-items: center;
    min-width: 273px;
    margin:0 6%;

    @media (min-width: 481px)  {
      margin:0 5%;
    }

    @media (min-width: 993px)  {
      margin:0 auto;
      width:897px;
    }
  }
  &info-trial{
    display: inline-block;
    @include text-prop(400,14px,15px,$description-color);
    margin-bottom: 4.1em;

    @media (min-width: 481px)  {
      line-height: 14px;
      margin-bottom: 4.9em;
    }
  }

  &__title {
    @include text-prop(700,26px,28px,#635C73);
    text-align: center;
    text-transform: uppercase;
    max-width: 327px;
    margin-top: 57px;

    @media (min-width: 481px)  {
      font-size: 42px;
      line-height: 42px;
      max-width: none;
    }

    @media (min-width: 993px) {
      font-size: 54px;
      line-height: 54px;
    }
  }

  &__description{
    @include text-prop-lato(400,14px,20px,$minor-text-color);
    text-align: center;

    @media (min-width: 481px){
      font-size: 21px;
      line-height: 32px;
    }

    &--position {
      margin-top: 27px;
      margin-bottom: 36px;

      @media (min-width: 481px)  {
        margin-top: 33px;
        margin-bottom: 24px;
      }

      @media (min-width: 993px) {
        margin-top: 35px;
        margin-bottom: 13px;
      }

    }
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 9px;
    max-width: 370px;

    @media (min-width: 481px){
      max-width: none;
    }
  }

  &__button {
    height: 26px;
    border-radius: 6px;
    border: 1px solid #D5D5D5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.button__icon {
  cursor:pointer;
  background-color: #F3F3F3;
  height: 100%;
  display: flex;
  justify-content: center;
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap:3px;
    border-right: 1px solid #D5D5D5;
    @include text-prop(800,12px,12px,$minor-text-color);
    padding: 0 7px;
  }
}

.button__value {
  padding: 0 6px;
  @include text-prop(800,12px,12px,$minor-text-color);
  cursor: pointer;
}