/*Montserrat*/

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Light/Montserrat-Light.eot');
    src: local('Montserrat'),
    url('../fonts/Montserrat/Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Light/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat/Light/Montserrat-Light.woff') format('woff'),
    url('../fonts/Montserrat/Light/Montserrat-Light.svg') format('svg'),
    url('../fonts/Montserrat/Light/Montserrat-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Regular/Montserrat-Regular.eot');
    src: local('Montserrat'),
    url('../fonts/Montserrat/Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Regular/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat/Regular/Montserrat-Regular.woff') format('woff'),
    url('../fonts/Montserrat/Regular/Montserrat-Regular.svg') format('svg'),
    url('../fonts/Montserrat/Regular/Montserrat-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Bold/Montserrat-Bold.eot');
    src: local('Montserrat'),
    url('../fonts/Montserrat/Bold/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Montserrat/Bold/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat/Bold/Montserrat-Bold.woff') format('woff'),
    url('../fonts/Montserrat/Bold/Montserrat-Bold.svg') format('svg'),
    url('../fonts/Montserrat/Bold/Montserrat-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*Fontello*/

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot');
    src: url('../fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontello/fontello.woff2') format('woff2'),
    url('../fonts/fontello/fontello.woff') format('woff'),
    url('../fonts/fontello/fontello.ttf') format('truetype'),
    url('../fonts/fontello/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

