@font-face {
  font-family: 'Montserrat-Regular';
  src: url(./Montserrat-Regular.eot);
  src: url(./Montserrat-Regular.eot?#iefix) format('embedded-opentype'),
       url(./Montserrat-Regular.svg#Montserrat-Regular) format('svg'),
       url(./Montserrat-Regular.woff) format('woff'),
       url(./Montserrat-Regular.woff2) format('woff2'),
       url(./Montserrat-Regular.otf) format('otf');
}
