.btn{
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor:pointer;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.25s;

  &:hover {
    transform: scale(1.1);
  }
}