@import url('./reset.css');
@import url('../fonts/fonts.css');

.wrapper{
    background-color: #000000;
    width: 100vw;
    height: 100vh;
    padding: 50px;
    background-image: url("../img/img-bg2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content {
    display: none;
    width: 800px;
    padding: 20px;
    border: 2px solid #8f1ea3;
    border-radius: 20px;
}

.content.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    column-gap: 40px;
    row-gap: 20px;
}

.content-title {
    font-family: "JetBrains Mono", sans-serif;
    color: #09f2a5;
    text-transform: uppercase;
    font-size: 30px;
}

.content-address {
    font-family: "JetBrains Mono", sans-serif;
    color: #d6eaf5;
    text-transform: uppercase;
    font-size: 30px;
}


.block-find-me{
    display: flex;
    column-gap: 30px;
    width: 100%;
    border-radius: 20px;
    border: 2px solid #09f2a5;
    background-color: rgba(3, 152, 234, 0.2);
    padding: 10px;
}

.find-me-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    row-gap: 20px;
}

.text-main {
    min-width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: rgba(48, 83, 83, 0.6);
    border: 2px solid rgba(48, 83, 83, 0.8);
    border-radius: 20px;
    color: #ffffff;
}

.text-main p {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 40px 100px minmax(auto,200px);
    font-size: 20px;
    text-align: center;
}

.text-main p span:nth-of-type(1) {
    font-family: "fontello", sans-serif;
    color: #d6eaf5;
    font-size: 22px;
}

.text-description {
    min-width: 300px;
    background-color: rgba(209, 19, 19, 0.3);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border: 2px solid red;
    border-radius: 20px;
    padding: 10px;
}

.text-description p {
    font-family: "JetBrains Mono", sans-serif;
    font-weight: bold;
    display: grid;
    grid-template-columns: 20px 120px minmax(auto,200px);
    font-size: 20px;
    text-align: center;
}

.text-description p span:nth-of-type(1) {
    font-family: "fontello", sans-serif;
    color: #d6eaf5;
    font-size: 22px;
}



.text-description div{
    font-family: "JetBrains Mono", sans-serif;
    font-size: 16px;
    text-align: justify;
}


.find-map {
    border: 2px solid rgba(209, 19, 19, 0.7);
    border-radius: 20px;
    background-color: rgba(35, 32, 32, 0.5);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 370px;
}


#map{
    width: 350px;
    height: 370px;
    border-radius: 20px;
}

.btn{
    width: 150px;
    padding: 10px;
    color: #02094e;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: #f5f506;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.25s;
}

.btn:hover{
    transform: scale(1.1);
}