.title {
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.selectedMain{
  margin: 0 auto 30px;
  width: 700px;
  min-width: 500px;
  min-height: 100px;
  padding: 10px;
  background-color: #bdc9cf;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.selectedTitle {
  color: #02094e;
  text-transform: uppercase;
}

.selectedList {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.selectedProduct{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  background-color: #02094e;
}

.selectedLeftBlock {
  display: flex;
  column-gap: 15px;
  align-items: center;
}


.selectedRightBlock {
  display: flex;
  column-gap: 15px;
}

.delBtn {
  padding-right: 10px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    transform: scale(1.2);
  }

}

.selectedImg {
  width: 50px;
  object-fit: cover;
}

.cartLogo{
  width: 40px;
  height: 60px;
  object-fit: cover;
}

.link {
  max-height: 60px;
  text-decoration: none;
  color: #ffffff;
}
