.title {
   margin-top: 70px;
  margin-bottom: 50px;
  font-size: 40px;
  color: #232020;
  text-align: center;
  text-transform: uppercase;
}

.cardListContainer {
  width: 100%;
  padding: 0 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
}

.logo {
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: center;
  margin-bottom: 50px;
}