.cardWrapper {
  position: relative;
  padding: 20px 50px 20px 20px;
  width: 100%;
  height: 100px;
  background-color: rgba(2, 9, 78, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.leftBlock {
  width: 700px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.rightBlock {
  width: 400px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.cardImg {
  width: 60px;
  min-width: 60px;
  height: 80px;
  max-height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.productName {
  align-self: center;
  width: 500px;
  min-width: 500px;
  min-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #02094e;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: #b22222;
  }
}

.productArticle {
  width: 80px;
  height: 50px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: #059d9d;
  color: #ffffff;
}

.productPrice {
  width: 120px;
  color: #ffffff;
  font-size: 26px;
  text-align: center;

  &:hover {
    color: #e0b911;
  }
}

.cardSelected {
  position: absolute;
  top:5px;
  right: 8px;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.btnBlock {
  display: flex;
  column-gap: 20px;
}

.link {
  text-decoration: none;
}

.linkName {
  text-decoration: none;
}
