/*Arimo*/


@font-face {
    font-family: 'Arimo';
    src: url('./arimo/arimo.eot');
    src: local('Arimo'),
    url('./arimo/arimo.eot?#iefix') format('embedded-opentype'),
    url('./arimo/arimo.woff2') format('woff2'),
    url('./arimo/arimo.woff') format('woff'),
    url('./arimo/arimo.svg') format('svg'),
    url('./arimo/arimo.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Arimo';
    src: url('./arimo/arimo-bold.eot');
    src: local('Arimo'),
    url('./arimo/arimo-bold.eot?#iefix') format('embedded-opentype'),
    url('./arimo/arimo-bold.woff2') format('woff2'),
    url('./arimo/arimo-bold.woff') format('woff'),
    url('./arimo/arimo-bold.svg') format('svg'),
    url('./arimo/arimo-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*FontAwesomeRegular*/

@font-face {
    font-family: 'FontAwesome';
    src: url('./fontAwesome/fontAwesome.eot');
    src: local('FontAwesome'),
    url('./fontAwesome/fontAwesome.eot?#iefix') format('embedded-opentype'),
    url('./fontAwesome/fontAwesome.woff2') format('woff2'),
    url('./fontAwesome/fontAwesome.woff') format('woff'),
    url('./fontAwesome/fontAwesome.svg') format('svg'),
    url('./fontAwesome/fontAwesome.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}



