/*Fontello*/

@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello/fontello.eot');
    src: url('../fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontello/fontello.woff2') format('woff2'),
    url('../fonts/fontello/fontello.woff') format('woff'),
    url('../fonts/fontello/fontello.ttf') format('truetype'),
    url('../fonts/fontello/fontello.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

