.title {
  margin:20px 0;
  font-size: 40px;
  color: #232020;
  text-align: center;
  text-transform: uppercase;
}

.cardListContainer {
  width: 100%;
  padding: 0 30px 20px 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
}

.banner {
  width: 100%;
  height: 270px;
  object-fit: cover;
  margin-bottom: 50px;
  background-color: #281e16;
}