.title {
  width: 780px;
  text-align: center;
  color: #02094e;
  font-size: 30px;
  margin: 10px auto;
}

.mainContent {
  width: 780px;
  margin: 0 auto 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.productContainer {
  width: 660px;
  display: flex;
  column-gap: 10px;
}

.product {
  padding: 10px;
  position: relative;
  width: 300px;
  height: 485px;
  background-color: #3b4492;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.imgContainer {
  width: 200px;
  padding: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImg {
  width: 200px;
  height: 320px;
  object-fit: cover;
}

.productPrice{
  color: #fffffe;
  font-size: 28px;
  font-weight: bold;
}

.about {
  width: 350px;
  height: 485px;
  padding: 10px;
  background-color: #dbe6ee;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.titleAbout {
  font-size: 22px;
  color: #3a4045;
  text-transform: uppercase;
}

.productArticle{
  color: #ffffff;
}

.option {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionTitle {
  color: black;
  font-weight: bold;
}

.optionValue {
  display: flex;
  column-gap: 5px;
}

.countryImg {
  width: 20px;
  object-fit: cover;
  border-radius: 50%;
  background-color: white;
}

.valueMechanism {
  font-size: 14px;
}

.colorElement{
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
}

.cardSelected {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.btnChangePage {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.imgChangePage {
  width: 30px;
  object-fit: cover;
}



