/*Gilam*/


@font-face {
    font-family: 'Gilam';
    src: url('../fonts/Gilam/gilam-regular/gilam-regular.eot');
    src: local('Gilam'),
    url('../fonts/Gilam/gilam-regular/gilam-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilam/gilam-regular/gilam-regular.woff2') format('woff2'),
    url('../fonts/Gilam/gilam-regular/gilam-regular.woff') format('woff'),
    url('../fonts/Gilam/gilam-regular/gilam-regular.svg') format('svg'),
    url('../fonts/Gilam/gilam-regular/gilam-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gilam';
    src: url('../fonts/Gilam/gilam-bold/gilam-bold.eot');
    src: local('Gilam'),
    url('../fonts/Gilam/gilam-bold/gilam-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilam/gilam-bold/gilam-bold.woff2') format('woff2'),
    url('../fonts/Gilam/gilam-bold/gilam-bold.woff') format('woff'),
    url('../fonts/Gilam/gilam-bold/gilam-bold.svg') format('svg'),
    url('../fonts/Gilam/gilam-bold/gilam-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilam';
    src: url('../fonts/Gilam/gilam-semi-bold/gilam-semi-bold.eot');
    src: local('Gilam'),
    url('../fonts/Gilam/gilam-semi-bold/gilam-semi-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilam/gilam-semi-bold/gilam-semi-bold.woff2') format('woff2'),
    url('../fonts/Gilam/gilam-semi-bold/gilam-semi-bold.woff') format('woff'),
    url('../fonts/Gilam/gilam-semi-bold/gilam-semi-bold.svg') format('svg'),
    url('../fonts/Gilam/gilam-semi-bold/gilam-semi-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Gilam';
    src: url('../fonts/Gilam/gilam-book/gilam-book.eot');
    src: local('Gilam'),
    url('../fonts/Gilam/gilam-book/gilam-book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilam/gilam-book/gilam-book.woff2') format('woff2'),
    url('../fonts/Gilam/gilam-book/gilam-book.woff') format('woff'),
    url('../fonts/Gilam/gilam-book/gilam-book.svg') format('svg'),
    url('../fonts/Gilam/gilam-book/gilam-book.ttf') format('truetype');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}

/*Circe*/

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/circe-regular/circe-regular.eot');
    src: local('Circe'),
    url('../fonts/Circe/circe-regular/circe-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe/circe-regular/circe-regular.woff2') format('woff2'),
    url('../fonts/Circe/circe-regular/circe-regular.woff') format('woff'),
    url('../fonts/Circe/circe-regular/circe-regular.svg') format('svg'),
    url('../fonts/Circe/circe-regular/circe-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/circe-bold/circe-bold.eot');
    src: local('Circe'),
    url('../fonts/Circe/circe-bold/circe-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe/circe-bold/circe-bold.woff2') format('woff2'),
    url('../fonts/Circe/circe-bold/circe-bold.woff') format('woff'),
    url('../fonts/Circe/circe-bold/circe-bold.svg') format('svg'),
    url('../fonts/Circe/circe-bold/circe-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
