.cardListWrapper{
  display: flex;
  flex-direction: column;
}

.title {
  margin:20px 0;
  font-size: 40px;
  color: #232020;
  text-align: center;
  text-transform: uppercase;
}

.cardListContainer {
  width: 100%;
  padding: 0 30px 20px 30px;
  display: flex;
  //justify-content: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 30px;
}

.productTableContainer {
  width: 100%;
  padding: 0 30px 20px 30px;
}

.banner {
  width: 100%;
  height: 270px;
  object-fit: cover;
  margin-bottom: 50px;
  background-color: #281e16;
}

.switch {
  align-self: flex-end;
  margin-right: 100px;
  margin-bottom: 30px;
  width: 100px;
  display: flex;
  column-gap: 15px;
}

.btn {
  padding: 5px 10px;
  background-color: #bdc9cf;
  border: 2px solid #02094e;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}