.selectedWrapper {
  position: absolute;
  top: 10px;
  right: 100px;
  padding: 10px;
  height: 65px;
  background-color: #02094e;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
}


.selectedImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.selectedProducts {
  font-size: 26px;
  color: #ffffff;
}