@import url('../fonts/fonts.css');

body {
    background-color: #171717;
    font-family: 'Gilam', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

.container{
    width: 1460px;
    margin: 0 auto;
}

/*wrapper1    */


.wrapper1{
    width: 100vw;
    height: 1377px;
    background-image:  url("../img/header-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 46px;
    margin-bottom:128px;
}

.logo{
    width: 216px;
    height: 33px;
    background-image: url("../img/logo.png");
    background-size: cover;
}

.contact-call{
    width: 218px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-call-icon{
    width: 13px;
    height: 13px;
}

.contact-call-button {
    margin-left: 10px;
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.contact-call-button a{
    color: #E4B564;
}


.head{
    font-size: 50px;
    margin-bottom: 41px;
}

.description{
    width: 1182px;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 41px;
}


.services{
    display: grid;
    grid-template-columns: 467px 233.5px 233.5px 467px;
    grid-template-rows: 468px 468px;
    grid-gap: 20px;
    font-size: 20px;
}

.services > div {
    display: flex;
    justify-content: center;
    align-items: center;
}


.services-item1{
    background-color: #634F2C;
}

.services-item2{
    background-color: #B4A385;
    grid-column: span 2;
    text-align: center;
}

.services-item3{
    background-color: #E4B564;
}

.services-item4{
    background-color: #635A4A;
    grid-column: span 2;
}

.services-item5{
    background-color: #B08C4D;
    grid-column: span 2;
}

/*wrapper2*/

.wrapper2{
    width: 100vw;
}

.section-2{
    padding-top: 120px;
    padding-bottom: 191.19px;
}

.section-2-head{
    font-size: 50px;
    margin-bottom: 94px;
}

.cars{
    display: grid;
    grid-template-columns: 467px 467px 467px;
    grid-template-rows: 255px 58px 126px 129px 277px 28px;
    justify-content: space-between;
    grid-row-gap: 24px;
}

.car-1{
    background-color:#0E0E0E;
    grid-column: 1;
    grid-row: 1/3;
    padding-top: 44px;
    padding-left: 52px;
}

.car-2{
    background-color: #242424;
    grid-column: 2;
    grid-row: 1/4;
    padding-top: 44px;
    padding-left: 51px;
}

.car-3{
    background-color: #1F1F1F;
    grid-column: 3;
    grid-row: 1;
    padding-top: 44px;
    padding-left: 48px;
}

.car-4{
    background-color: #1F1F1F;
    grid-column: 1;
    grid-row: 3 / 7;
    padding-top: 56px;
    padding-left: 52px;
}

.car-5{
    background-color: #E4B564;
    grid-column: 2;
    grid-row: 4 / 6;
    padding-top: 47px;
    padding-left: 52px;
    color: #000000;
}

.car-6{
    background-color: #0E0E0E;
    grid-column: 3;
    grid-row: 2 / 5;
    padding-top: 44px;
    padding-left: 48px;
}

.car-7{
    background-color: #0A0909;
    grid-column: 3;
    grid-row: 5/7;
    padding-top: 44px;
    padding-left: 48px;
}

.cars h5 {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.cars h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
}

/*wrapper3*/

.wrapper3{
    width: 100vw;
    background-image:  url("../img/parallax-bg.jpeg");
    background-size: cover;
    background-attachment: fixed;
}


.section-3-header{
    display: flex;
    justify-content: space-between;
    padding-top: 172px;
    margin-bottom: 72px;
}

.section-3-head{
    font-size: 50px;
}

.section-3-btn{
    width: 180px;
    height: 50px;
    border: 1px solid #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4B564;
}

.section-3-btn a{
    color: #E4B564;

}

.clients{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 391px 391px;
    padding-bottom: 238.81px;
}

.client-1{
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-2{
    background-color: #E8D2ABC2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.client-3{
    background-color: #E4B564;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-4{
   background-color: #635A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-5{
    background-color: #B08C4D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-6{
    background-color: #634F2C;
    display: flex;
    justify-content: center;
    align-items: center;
}

.client-1 img, .client-6 img{
    width: 185px;
    height: 49px;
}

.client-2 img:nth-child(1){
    width: 62px;
    height: 58px;
}

.client-2 img:nth-child(2){
    width: 139px;
    height: 55px;
}

.client-2 p {
    width: 310px;
    margin-top: 16px;
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
}

.client-2 span {
    font-weight: 400;
}

.client-3 img, .client-4 img{
    width: 190px;
    height: 42px;
}

.client-5 img{
    width: 119px;
    height: 53px;
}