.selectedWrapper{
  position: absolute;
  top: 120px;
  right: 100px;
  min-width: 500px;
  min-height: 100px;
  padding: 10px;
  background-color: #bdc9cf;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.selectedTitle {
  color: #02094e;
  text-transform: uppercase;
}

.selectedList {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.selectedProduct{
  padding: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  background-color: #02094e;
}

.selectedRightBlock {
  display: flex;
  column-gap: 15px;
}

.delBtn {
  padding-right: 10px;
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}