@import url('../fonts/fonts.css');

body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-image: url("../image/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    transition: 0.25s;
}

.head {
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    margin-left: 79px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 126px;
    height: 24px;
    margin-right: 20px;
}

.link {
    color: currentColor;
}

.header-icon path{
    fill: currentColor;
}

.log-in{
    font-size: 14px;
    line-height: 19px;
    margin-right: 79px;
    margin-left: 27px;
    color: currentColor;
    position: relative;
}

.log-in span {
    color: #FFFFFF;
}

.log-in::before{
    content: '';
    position:absolute;
    width: 1px;
    height: 19px;
    background-color: rgba(255, 255, 255, 0.9);
    left: -27px;
    opacity: 0.5;
    align-self: center;
}

.header:hover{
    color: rgba(60, 184, 120, 1);
}

.header:hover .log-in span {
    color: rgb(150, 150, 150);
}

.header:hover .log-in::before{
    opacity: 0;
}

.form-block{
    width: 444px;
    height: 584px;
    margin:auto;
    background-color:#ffffff ;
    position: relative;
}

.form-block::before{
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    top:29px;
}

.form-wrapper{
    width: 324px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 31px;
    padding-bottom: 38px;
}

.sing-up{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sing-up-head{
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}

.sing-up-link{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    transition: 0.25s;
}

.sing-up-link:hover {
    color: #01813F;
    text-decoration: underline;
}

.form-actions {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    gap: 4px;
}

.loginBtn{
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 16px;
    border-radius: 4px;
    border: none;
    position: relative;
}

.facebook-text{
    height: 28px;
    display:flex;
    align-items: center;
    padding-left: 18px;
    margin-left: 48px;
    border-left: 1px solid rgba(43, 13, 9, 0.1);
}

.google-text{
    height: 28px;
    display:flex;
    align-items: center;
    padding-left: 30px;
    margin-left: 47px;
    border-left: 1px solid rgba(43, 13, 9, 0.1);
}

.facebookBtn {
    background-color: #305DB8;
    transition: 0.25s;
}

.facebookBtn::before{
    content: '';
    position: absolute;
    top:12px;
    left:11px;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    background-image:  url("../image/icon-logo/facebook.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.facebookBtn:hover{
    background-color: #022263;
}

.googleBtn{
    background-color: #DF4A32;
    transition: 0.25s;
}

.googleBtn::before{
    content: '';
    position: absolute;
    top:14px;
    left:10px;
    width: 30px;
    height: 19px;
    box-sizing: border-box;
    background-image:  url("../image/icon-logo/google.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.googleBtn:hover{
    background-color: #AB1F09;
}

.or{
    margin-top:34px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    position:relative;
    color: #848484;
}

.or::before{
    content:'';
    position:absolute;
    top:7px;
    left:0;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;

}

.or::after{
    content:'';
    position:absolute;
    top:7px;
    right:0;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;

}

.input{
    width: 100%;
    height: 44px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 14px;
    color:  #434343;
    outline: none;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
}

.form input:nth-of-type(1){
    margin-bottom: 16px;
}

.form input:nth-of-type(5){
   margin-bottom: 12px;
}

input::placeholder{
    color: #BEBEBE;
}

.input:focus{
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.checkbox-wrapper{
    display:flex;
    align-items: center;
    gap: 8px;
    color: rgba(60, 184, 120, 1);
    transition: 0.25s;
}

.hidden-checkbox{
    display: none;
}

.checkbox{
    width: 20px;
    height: 20px;
    border: 1px solid rgba(242, 242, 242, 1);
    display:flex;
    align-items: center;
    justify-content: center;
}

.svg-checkbox{
    display:none;
    width: 14px;
    height: 13.5px;
}

.svg-checkbox path{
   stroke: currentColor;
}

.hidden-checkbox:checked ~ .checkbox .svg-checkbox{
    display:block;
}

.checkbox-wrapper:hover{
    color: #01813F;
}

.checkbox-wrapper:hover span.terms {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.agree {
    color: #434343;
}

.create-account{
    border: none;
    width: 100%;
    height: 46px;
    margin-top: 20px;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
}

.create-account:hover{
    background-color: #01813F;
}