/*Open Sans*/


@font-face {
    font-family: 'Open Sans';
    src: url('./openSans/openSans-Regular/OpenSans-Regular.eot');
    src: local('Open Sans'),
    url('./openSans/openSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./openSans/openSans-Regular/OpenSans-Regular.woff2') format('woff2'),
    url('./openSans/openSans-Regular/OpenSans-Regular.woff') format('woff'),
    url('./openSans/openSans-Regular/OpenSans-Regular.svg') format('svg'),
    url('./openSans/openSans-Regular/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./openSans/openSans-Regular-Italic/OpenSans-Italic.eot');
    src: local('Open Sans'),
    url('./openSans/openSans-Regular-Italic/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('./openSans/openSans-Regular-Italic/OpenSans-Italic.woff2') format('woff2'),
    url('./openSans/openSans-Regular-Italic/OpenSans-Italic.woff') format('woff'),
    url('./openSans/openSans-Regular-Italic/OpenSans-Italic.svg') format('svg'),
    url('./openSans/openSans-Regular-Italic/OpenSans-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'Open Sans';
    src: url('./openSans/openSans-SemiBold/OpenSans-SemiBold.eot');
    src: local('Open Sans'),
    url('./openSans/openSans-SemiBold/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./openSans/openSans-SemiBold/OpenSans-SemiBold.woff2') format('woff2'),
    url('./openSans/openSans-SemiBold/OpenSans-SemiBold.woff') format('woff'),
    url('./openSans/openSans-SemiBold/OpenSans-SemiBold.svg') format('svg'),
    url('./openSans/openSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./openSans/openSans-SemiBold-Italic/OpenSans-SemiBoldItalic.eot');
    src: local('Open Sans'),
    url('./openSans/openSans-SemiBold-Italic/OpenSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('./openSans/openSans-SemiBold-Italic/OpenSans-SemiBoldItalic.woff2') format('woff2'),
    url('./openSans/openSans-SemiBold-Italic/OpenSans-SemiBoldItalic.woff') format('woff'),
    url('./openSans/openSans-SemiBold-Italic/OpenSans-SemiBoldItalic.svg') format('svg'),
    url('./openSans/openSans-SemiBold-Italic/OpenSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Open Sans';
    src: url('./openSans/openSans-Bold/OpenSans-Bold.eot');
    src: local('Open Sans'),
    url('./openSans/openSans-Bold/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('./openSans/openSans-Bold/OpenSans-Bold.woff2') format('woff2'),
    url('./openSans/openSans-Bold/OpenSans-Bold.woff') format('woff'),
    url('./openSans/openSans-Bold/OpenSans-Bold.svg') format('svg'),
    url('./openSans/openSans-Bold/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*Futura BT*/

@font-face {
    font-family: 'Futura BT';
    src: url('./futura-bt-bold/futura-bt-bold.eot');
    src: local('Futura BT'),
    url('./futura-bt-bold/futura-bt-bold.eot?#iefix') format('embedded-opentype'),
    url('./futura-bt-bold/futura-bt-bold.woff2') format('woff2'),
    url('./futura-bt-bold/futura-bt-bold.woff') format('woff'),
    url('./futura-bt-bold/futura-bt-bold.svg') format('svg'),
    url('./futura-bt-bold/futura-bt-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


