@import url('../fonts/fonts.css');


.table{
    width: 100vw;
    height: 100vh;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 16px;
    border: 25px solid #3A4965;
    border-collapse: collapse;
    table-layout: auto;
    color: #484848;
}

th{
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    border: 1px solid #d5d5d5;
    text-align: center;
    vertical-align: middle;
}

td {
    border: 1px solid #d5d5d5;
    text-align: center;
    vertical-align: middle;
}

.choose{
    display: block;
    font-size: 18px;
    line-height: 28px;
}

.pricing{
    display: block;
    font-size: 30px;
}

.table tr th:nth-child(2){
    background-color: #89C331;
    color: #fff;
}

.table tr th:nth-child(3){
    background-color:#F04A56;
    color: #fff;
}

.table tr th:nth-child(4){
    background-color:#20807C;
    color: #fff;
}

.price td p{
    font-size: 60px;
    font-weight: 700;
    position: relative;
    height: 66px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.price td p sup{
    font-size: 24px;
    font-weight: 700;
    align-self: flex-start;
    position: relative;
}

.price td p sup::after{
    content:'PER MONTH';
    position: absolute;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    top: 19px;
    left:-7px;
    width: 120px;
}


.table tr:nth-child(3), .table tr:nth-child(5), .table tr:nth-child(7){
    background-color: #F2F2F2;
}

.table tr:nth-child(4), .table tr:nth-child(6), .table tr:nth-child(8){
    background-color: #E3E3E3;
}

.icon{
    font-family: 'FontAwesome', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #848484;
}

.button{
    width: 192px;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color:#fff;
    border-radius: 5px;
    border: none;
    position:relative;
    box-shadow: 0 2px 0 #c4c4c4;
}

.button1{
    background-color: #484848;
}

.button1::after{
    content:'';
    position: absolute;
    width: 192px;
    height: 9px;
    bottom: 0;
    left:0;
    border-radius: 0 0 5px 5px;
    background-color: #404040;
}

.button2 {
    background:#89C331 ;
}

.button2::after{
    content:'';
    position: absolute;
    width: 192px;
    height: 9px;
    bottom: 0;
    left:0;
    border-radius: 0 0 5px 5px;
    background-color: #79B027;
}

.button3{
    background-color: #F04A56;
}

.button3::after{
    content:'';
    position: absolute;
    width: 192px;
    height: 9px;
    bottom: 0;
    left:0;
    border-radius: 0 0 5px 5px;
    background-color: #DF3A46;
}

.button4{
    background-color: #20807C;
}

.button4::after{
    content:'';
    position: absolute;
    width: 192px;
    height: 9px;
    bottom: 0;
    left:0;
    border-radius: 0 0 5px 5px;
    background-color: #16736F;
}

.contact-us{
    background-color: #DDDDDD;
}

.buy-now {
    background-color: #EEEEEE;
}

.buy-now-2 {
    background-color: #f4f4f4;
}


