@import url('../fonts/fonts.css');

.table{
    width: 100vw;
    height: 100vh;
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    line-height: 24px;
    border: 25px solid #3A4965;
    border-collapse: collapse;
    table-layout: auto;
    color: #484848;
}

.dark{
    background-color: #E3E3E3;
}

.light{
    background-color: #F2F2F2;
}

.table tr:first-child{
    border: 12px solid #3A4965;
}

th{
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    border: 1px solid #d5d5d5;
    text-align: center;
    vertical-align: middle;
}

tr th:nth-child(4){
    padding-left: 15px;
    padding-right: 15px;
}

tr th:nth-child(7){
    padding-left: 15px;
    padding-right: 15px;
}


td {
    border: 1px solid #d5d5d5;
    text-align: center;
    vertical-align: middle;
}

.choose{
    display: block;
    font-size: 14px;
    line-height: 28px;
}

.pricing{
    display: block;
    font-size: 20px;
    line-height: 28px;
}

.icon{
    font-family: 'FontAwesome', sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #848484;
}

.standard{
    background-color: #89C331;
    color:#ffffff;
    border:1px solid transparent;
}

.ultimate{
    background-color: #F04A56;
    color:#ffffff;
    border:1px solid transparent;
}

.premium{
    background-color: #20807C;
    color:#ffffff;
    border:1px solid transparent;
}

.price p:nth-child(1){
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}

.price p:nth-child(2){
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    position: relative;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.per-month{
    font-size: 14px;
    line-height: 28px;
    padding-left: 10px;
}

.price p:nth-child(2) sup{
    font-size: 18px;
    font-weight: 700;
    align-self:flex-start;
}

.button{
    width: 192px;
    height: 52px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color:#fff;
    border-radius: 5px;
    border: none;
    position:relative;
    box-shadow: 0 2px 0 #404040;
}

.button1{
    background-color: #484848;
}

.button1::after{
    content:'';
    position: absolute;
    width: 192px;
    height: 9px;
    bottom: 0;
    left:0;
    border-radius: 0 0 5px 5px;
    background-color: #404040;
}



