@import url('../fonts/fonts.css');

body {
    width: 100vw;
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100%;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    color: #FFFFFF;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

/*SECTION HOME*/

.home {
    width: 100%;
    height: 1012px;
    background-image: url("../img/Sections background/section-1(header).jpg");
    background-attachment: fixed;
}

.navbar {
    width: 100%;
    height: 120px;
    background: rgba(94, 93, 88, 0.6);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 198px;
    height: 116px;
    background-image: url("../img/Logo.png");
    background-size: cover;
}

.nav {
    width: 660px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    width: 615px;
    column-gap: 21px;
    align-self: center;
    justify-content: space-between;
}

.nav-item {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #FFFFFF99;
}

.icon {
    font-family: "fontello", sans-serif;
    font-size: 21px;
    line-height: 24px;
    color: #FFFFFF99;
}

.nav-item:hover {
    color: #18CFAB;
    text-decoration: underline;
    text-underline-offset: 54px;
}

.icon:hover {
    color: #18CFAB;
    text-decoration: underline;
    text-underline-offset: 52px;
}

.slogan {
    width: 769px;
    margin: 251px auto 0;
    text-align: center;
}

.slogan-buttons{
    margin-top: 127px;
    display: flex;
    justify-content: center;
    column-gap: 26px;
}

.slogan-text div:nth-child(1) {
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 35px;
    text-transform: uppercase;
}

.slogan-text div:nth-child(1) > span {
    color: #18CFAB;
}

.slogan-text div:nth-child(2) {
    margin-bottom: 22px;
    font-weight: bold;
    font-size: 78px;
    text-transform: uppercase;
}

.slogan-text div:nth-child(3) {
    font-size: 34px;
    color: #D4D4D4;
}

.btn-now {
    width: 168px;
    height: 63px;
    border: none;
    border-radius: 5px;
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
    font-size: 15px;
    line-height: 32px;
    font-weight: 700;
    box-shadow: 0px -5px 0px #fff;
    cursor: pointer;
}

.btn-bg-color-green {
    background-color: #18CFAB;
}

.btn-bg-color-blue {
    background-color: #00CBF6;
}

/*SECTION OPTIONS*/

.options {
    width: 100%;
    height: 360px;
    display:flex;
    flex-wrap: nowrap;
    margin-top: 8px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;
    flex: 1;
}

.options>div:nth-child(odd){
    background-color: #1C2A33;
}

.options>div:nth-child(even){
    background-color: #18CFAB;
}

.option-1-img {
    width: 61px;
    height: 100px;
}

.option-2-img {
    width: 96px;
    height: 78px;
}

.option-3-img {
    width: 62px;
    height: 99px;
}

.option-4-img {
    width: 102px;
    height: 79px;
}

.options p {
    text-transform: uppercase;
    font-weight: bold;
    color:#18CFAB;
}

.option-2>p, .option-4>p {
    color:#FFFFFF;
}

.option-1-img, .option-3-img {
    margin-top: 95px;
    margin-bottom: 47px;
}

.option-2-img, .option-4-img {
    margin-top: 106px;
    margin-bottom: 58px;
}


/*SECTION SERVICES*/

.services-wrapper {
    width: 100%;
    padding-top: 83px;
    padding-bottom: 91px;
}

.header-section {
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
    text-align: center;
    position: relative;
    margin-bottom: 101px;
}

.header-section::before{
    content: '';
    position: absolute;
    top: 66px;
    left: 534px;
    width: 76px;
    height: 1px;
    background: #18CFAB;
}

.header-section::after{
    content: '';
    position: absolute;
    top: 70px;
    left: 547px;
    width: 80px;
    height: 1px;
    background: #18CFAB;
}

.tabs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.tabs-title {
    width: 195px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 39px;
    color: #717171;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.tabs-title:hover{
    border: 1.5px solid #18CFAB;
    cursor: pointer;
}

.active-tabs {
    background-color:#18CFAB ;
    color: #FFFFFF;
    position: relative;
}

.active-tabs::after {
    content: '';
    position: absolute;
    top: 73px;
    left: 80px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #18CFAB;
}

.tabs-content-item {
    display: none;
}

.tabs-content-item>img {
    width: 192px;
    height: 139px;
    object-fit: cover;
}

.tabs-content-item>p {
    width: 952px;
    height: 139px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    text-align: justify;
    padding-right: 5px;
}

.show-item {
    display: flex;
    column-gap: 15px;
}

/*SECTION PURCHASE*/

.purchase {
    width: 100%;
    height: 476px;
    background-image: url("../img/Sections background/purchase.png");
    background-size: cover;
    background-position: center;
}

.purchase-slogan {
    font-size: 40px;
    line-height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #18CFAB;
    padding-top: 127px;
}

.purchase-text {
    margin-top: 12px;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
}

.btn-purchase {
    display: block;
    margin: 67px auto 0;
}

/*SECTION AMAZING WORK*/

.amazing-work {
    width: 100%;
    background-color: #E9EDEF;
    padding-top: 97px;
    padding-bottom: 99px;
}

.tabs-filter {
    width: 589px;
    margin: 0 auto 69px;
    display: flex;
}

.tabs-filter li:nth-child(1){
    width: 80px;
}

.tabs-filter li:nth-child(2){
    width: 144px;
}

.tabs-filter li:nth-child(3){
    width: 122px;
}

.tabs-filter li:nth-child(4){
    width: 141px;
}

.tabs-filter li:nth-child(5){
    width: 106px;
}

.tab-title-work {
    font-size: 14px;
    padding-left: 15px;
    padding-right: 15px;
    height: 58px;
    border: 1px solid #DADADA;
}

.tabs-title:hover{
    border: 2px solid #18CFAB;
}

.tabs-pictures {
    width: 1140px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

.tabs-img {
    display: none;
    width: 285px;
    height: 206px;
}

.tabs-img > img {
    width: 285px;
    height: 206px;
    object-fit: cover;
}

.show-img {
    display: inline-block;
    position: relative;
}

.hover-block{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/hover.png");
    background-position: top center;
    background-size: cover;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
}

.show-img:hover .hover-block{
    display: block;
}

.hover-block p {
    font-size: 12px;
    font-weight: 300;
    color: #8A8A8A;
    text-align: center;
    padding-top: 150px;
}

.active-tabs-work {
    background-color: #18CFAB;
    color: #ffffff;
}

.btn-load-more {
    display: block;
    margin: 70px auto 0;
    width: 168px;
    height: 63px;
    background-color: #18CFAB;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 42px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
    position: relative;
    cursor: pointer;
}

.btn-load-more::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 16px;
    background-color: #FFFFFF;
    top: 24px;
    left: 28px;
    border-radius: 1px;
}

.btn-load-more::after {
    content: '';
    position: absolute;
    width: 16px;
    height: 4px;
    background-color: #FFFFFF;
    top: 30px;
    left: 22px;
    border-radius: 1px;
}

.btn-hide {
    display: none;
}

@keyframes load {
    0%{
        opacity: 0.08;
        filter: blur(5px);
        letter-spacing: 3px;
    }
    100%{

    }
}

.animate {
    display:none;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin: 0 auto;
    color: #02094e;
    font-size:26px;
    font-family: Montserrat, sans-serif;
    animation: load 1.2s infinite 0s ease-in-out;
    animation-direction: alternate;
    text-shadow: 0 0 1px white;
}

.animate-show {
    display: flex;
}



/*SECTION BREAKING NEWS*/

.breaking-news {
    width: 100%;
    background-color: #ffffff;
    padding-top: 82px;
    padding-bottom: 129px;
}

.breaking-news-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 33px;
    row-gap: 42px;
}

.breaking-news-card {
    width: 265px;
    height: 281px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
}

.breaking-news-card a {
    color: #717171;
}

.breaking-news-card-picture {
    width: 265px;
    height: 208px;
}

.breaking-news-card-img {
    width: 265px;
    height: 190px;
    object-fit: cover;
}

.date {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top:0;
    right: 0;
    width: 70px;
    height: 68px;
    background-color: #203E38;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

.date a {
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
    padding: 12px 12px  16px 12px;
}

.breaking-news-card-head {
    padding-left: 15px;
    margin-top: 15px;
    font-size: 18px;
    line-height: 39px;
    font-weight: bold;
    color: #717171;
}

.breaking-news-footer{
    padding-left: 15px;
    display: flex;
    font-size: 14px;
    line-height: 39px;
    font-weight: 300;
    color: #777777;
}

.breaking-news-footer-signature {
    margin-right: 33px;
    position: relative;
}

.breaking-news-footer-signature::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 13px;
    background-color: #777777;
    right: -16px;
    top: 14px;
}

.breaking-news-card:hover .breaking-news-card-head a{
    color: #18CFAB;
}

.breaking-news-card:hover .date {
    background-color: #18CFAB;
}


/*SECTION ABOUT*/

.about {
    width: 100%;
    height: 853px;
    padding-top: 98px;
    padding-bottom: 104px;
    background-image: url("../img/Sections background/section-3.jpg");
    background-size: cover;
}

.color-white {
    color: #ffffff;
}

.review-card {
    display: none;
}

.show-review-card {
    display: block
}

.review-description {
    color: #BBBBBB;
    line-height: 30px;
    font-size: 16px;
    margin: 136px auto 37px;
    text-align: center;
    position: relative;
}

.review-description::before {
    content: '';
    position: absolute;
    width: 44px;
    height: 30px;
    background-image: url("../img/reviews/Combined shape.png");
    background-size: cover;
    background-position: center;
    top: -47px;
    left: 550px
}

.review-person {
    margin: 0 auto 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    color: #18CFAB;
    text-transform: uppercase;
    text-align: center;
}

.review-position {
    margin: 0 auto 50px;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    color: #BBBBBB;
    text-align: center;
}

.person-photo {
    display: block;
    width: 143px;
    height: 143px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 10px rgba(31, 218, 181, .2);
}

/*SLIDER SECTION ABOUT*/

.slider-wrapper {
    width: 483px;
    height: 92px;
    margin: 44px auto 0;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
}

.btn-slider {
    width: 31px;
    height: 31px;
    border: 1px solid #BBBBBB;
    background: transparent;
}

.btn-previous{
    position: relative;
}

.btn-previous::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 8px;
    left: 12px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: #BBBBBB;
    transform: rotate(-135deg);
}

.btn-previous:hover {
    background-color: #18CFAB;
    border: none;
}

.btn-previous:hover::after {
    border-color: #FFFFFF;
}

.btn-next{
    position: relative;
    margin-left: 29px;
}

.btn-next::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 8px;
    left: 8px;
    border-top: 2px solid;
    border-right: 2px solid;
    border-color: #BBBBBB;
    transform: rotate(45deg);
}

.btn-next:hover {
    background-color: #18CFAB;
    border: none;
}

.btn-next:hover::after {
    border-color: #FFFFFF;
}


.slider-line {
    width: 400px;
    height: 92px;
    margin: auto;
    position: relative;
    overflow: hidden;
    transition: all ease 1s;
}


.slider-item {
    display: block;
    margin-left: 28px;
    width: 61px;
    height: 61px;
    position: absolute;
    transition: all ease 1s;
    left:0;
    top: 20px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px rgba(31, 218, 181, .2);
}


.up-element {
    top: 10px;
}


/* SECTION GALLERY */

.gallery {
    width: 100%;
    height: auto;
    padding-top: 98px;
    padding-bottom: 67px;
}


/*GRID 3*/

.grid3 {
    width: 364px;
    height: 282px;
}

.grid3:after {
    content: '';
    display: block;
    clear: both;
}

.grid3-sizer,
.grid3-item {
    width: 119px;
}

.grid3-item {
    height: 92px;
    margin-bottom: 0;
}

.grid3-item {
    float: left;
    margin-bottom: 3px;
}

.grid3-item img {
    display: block;
    width: 100%;
    height: 100%;
}

/*GRID 2*/

.grid2 {
    width: 378px;
    height: 457px;
}

.grid2:after {
    content: '';
    display: block;
    clear: both;
}

.grid2-item {
    width: 180px;
    height: 168px;
}

.grid2-item {
    float: left;
    margin-bottom: 3px;
}

.mr{
    margin-right: 3px;
}

.grid2-item img {
    display: block;
    width: 100%;
    height: 100%;
}

/*GRID */

.grid {
    width: 1160px;
}

.grid:after {
    content: '';
    display: block;
    clear: both;
}

.grid-item {
    width: 378px;
}

.grid-item {
    float: left;
    margin-bottom: 20px;
}

.grid-item--width3 {
    width: 364px;
}

.grid-item img {
    display: block;
    width: 100%;
    height: 100%;
}

/*MODAL*/

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
    opacity: 0;
    visibility: hidden;
    transition: 240ms 160ms;
    transition-property: opacity, visibility;
}

.open {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-size {
    width: auto;
    height: 100%;
}


/*FOOTER*/

.footer{
    width: 100%;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22353F;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
}

.footer span {
    color: #18CFAB;
}
