@import url('../fonts/fonts.css');

/*PARALLAX EFFECTS*/

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
    transform-style: preserve-3d;
}

.parallax {
    position: relative;
    transform-style: preserve-3d;
}

.parallax::after{
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    z-index: -1;
}

.bg1::after {
    background: url('../img/backgrounds/bg1.jpg');
    background-size: cover;
    clip-path: polygon(0% 0%,100% 0%, 100% 87%, 50% 100%, 0% 87%);
}

.bg2::after {
    background: url('../img/backgrounds/bg2.jpg');
    background-size: cover;
    clip-path: polygon(0% 0%, 50% 13%, 100% 0%, 100% 100%, 0% 100%);
}

.bg3::after {
    background: url('../img/backgrounds/bg3.jpg');
    background-size: cover;
    clip-path: polygon(0% 0%, 50% 13%, 100% 0%, 100% 87%, 50% 100%, 0% 87%);
}


/*HEADER*/

.header{
    width: 100vw;
    height: 571px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

.head{
    margin-top: 80px;
    background-color: #ffffff;
    width: 100vw;
    height: 113px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name{
    margin-left: 202px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 36px;
    color: #424F57;
    flex:1;
}

.company-name span{
    font-weight: 900;
    color: #14AFCA;
}

.list{
    width:571px;
    display: flex;
    justify-content: space-between;
    margin-right: 173px;
}

.list li a{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.75px;
    line-height: 20px;
    color:#3E4C4E;
}

.list > li:first-of-type a {
    color: #14AFCA;
}

.header-description{
    font-family:'Futura BT', sans-serif;
    font-size: 52px;
    line-height: 60px;
    color: #ffffff;
    width: 996px;
    height: 117px;
    text-align: center;
    margin-top: 149px;
}

/*WHAT*/

.what{
    width: 100%;
    height: 443px;
    padding-bottom: 99px;
    margin: 122px auto 90px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:-2;
}


.what-block1-head{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    text-align: center;
}

.what-block1-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 0.9px;
    font-weight: 600;
    color: #424F57;
    text-align: center;
    margin: 20px 0;
}

.what-block2{
    width: 992px;
    height: 93px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #424F57;
    font-size: 16px;
    line-height: 30px;
}

/*COMPANIES*/

.companies{
    width: 100%;
    height: 634px;
    margin-top: 198px;
    margin-bottom: 328px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:-3;
}

.companies-block1{
    width: 506px;
    margin-top: 128.5px;
}

.companies-block1-head{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
    color: #14AFCA;
    text-align: center;
}

.companies-block1-item{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin: 20px 0;
}

.companies-block2{
    width: 1002px;
    height: 272px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
}

.logo1{
    width: 189px;
    height: 34px;
    margin-right: 55px;
}

.logo2{
    width: 225px;
    height: 99px;
    margin-right: 46px;
}

.logo3{
    width: 217px;
    height: 40px;
    margin-right: 69px;
}

.logo4{
    width: 176px;
    height: 89px;
}

.logo5{
    width: 159px;
    height: 48px;
    margin-right: 65px;
}

.logo6{
    width: 217px;
    height: 40px;
    margin-right: 62px;

}

.logo7{
    width: 185px;
    height: 48px;
    margin-right: 88px;
}

.logo8{
    width: 200px;
    height: 38px;
}

/*MEET-US*/

.meet-us{
    width: 100%;
    height: 768px;
}

.meet-us-wrapper{
    width: 1010px;
    height: 498px;
    margin:0 auto 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.meet-us-head{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.meet-us-description{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #424F57;
    text-align: center;
    margin-bottom: 30px;
}

.meet-us-cards{
    width: 1010px;
    height: 332px;
    display: flex;
    align-content: space-between;
    gap:86px;
}

.meet-us-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.meet-us-card img{
    width: 207px;
    height: 206px;
}

.meet-us-card-description{
    width: 309px;
    height: 99px;
    padding: 0 1px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    color: #424F57;
    text-align: center;
}


/*TESTIMONIALS*/

.testimonials{
    width: 100%;
    height: 580px;
}

.testimonials-wrapper{
    width: 907px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials-head{
    width: 506px;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    color: #14AFCA;
    text-align: center;
    margin-top: 190px;
    margin-bottom: 20px;
}

.testimonials-description{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 0.9px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    margin-bottom: 48px;
}

.testimonials-slogan{
    width: 907px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
    line-height: 28px;
    letter-spacing: 0.8px;
    text-align: center;
    color: #D3CCCC;
    position: relative;
}

.testimonials-slogan::after{
    content:'- Shoaib Ahmed';
    position: absolute;
    top: 73px;
    right:92px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    font-style: italic;
    line-height: 37px;
    letter-spacing: 0.45px;
}


/*WHY*/

.why{
    width: 831px;
    margin: 200px auto 96px;
}

.why-head{
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 1.5px;
    color: #14AFCA;
    text-align: center;
    margin-bottom: 20px;
}

.why-description{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: 0.45px;
    text-align: center;
    color: #424F57;
    margin-bottom: 30px;
}

.skills{
    width: 816px;
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.75px;
    color: #424F57;
    text-align: center;
    margin-bottom: 96px;
}

.footer{
    width: 416px;
    margin:0 auto;
    padding-bottom: 88px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-align: center;
    color: #3D3C3C;
}

.footer span {
    font-weight: 700;
    font-size: 16px;
}