.btn{
  padding: 8px 6px;
  border: none;
  cursor:pointer;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  transition: all 0.25s;
  border-radius: 5px;

  &:hover {
    transform: scale(1.1);
  }
}

.btnAddProduct {
  width: 101px;
  height: 41px;
  border-radius: 10px;
  background-color: #92d2f4;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}


.btnDelModal {
  width: 101px;
  height: 41px;
  font-size: 16px;
  line-height: 30px;
  color: #02094e;

  &:hover {
    transform: scale(0.9);
  }
}