* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    padding-top: 10px;
    background-image: url("./img/imp.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto, sans-serif;
}

.btn {
    margin-left: 20px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: tomato;
    transition: all 0.6s;
}

.btn:hover {
    background-color: #060e77;
    color: #ffffff;
    transform: scale(1.1);
}

.animation-block {
    display: none;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}


.layer-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
    visibility: hidden;
    transition: 240ms 160ms;
    transition-property: opacity, visibility;
}

.active {
    visibility: visible;
}

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
}

.loader:before {
    content: '';
    width: 48px;
    height: 5px;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow 0.5s linear infinite;
}

.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    animation: jump 0.5s linear infinite;
}

.animation-block div:nth-child(1):before {
    background-color: #7304c6;
}

.animation-block div:nth-child(1):after {
    background-color: indigo;
}

.animation-block div:nth-child(2):before {
    background-color: #7fbf25;
}

.animation-block div:nth-child(2):after {
    background-color: #64951f;
}

.animation-block div:nth-child(3):before {
    background-color: #cda706;
}

.animation-block div:nth-child(3):after {
    background-color: #a88906;
}

.animation-block div:nth-child(4):before {
    background-color: #f0808050;
}

.animation-block div:nth-child(4):after {
    background-color: #f08080;
}


.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    padding: 10px;
    min-width: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    border: 2px solid #c41414;
    border-radius: 20px;
    background-color: rgba(35, 32, 32, 0.4);
}

.logo {
    width: 400px;
    height: auto;
    object-fit: cover;
}

.head {
    font-size: 26px;
    background-color: orangered;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.part {
    font-size: 22px;
    font-weight: bold;
    color: #d6eaf5;
    font-style: italic;
}

.description {
    font-size: 18px;
    color: #d6eaf5;
    font-style: italic;
    text-align: justify;
}

.description > span {
    font-size: 20px;
    font-weight: bold;
    color: #bf1212;
}

.actors {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap:10px;
    opacity: 1;
    animation: fadeIn 4s ease;
}

.actor {

    border: 2px solid #060e77;
    background-color: #cda706;
    font-size: 18px;
    border-radius: 5px;
    color: #8c0808;
    padding: 5px;
    text-align: center;
}


.loader-min {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #3ad21c;
}

.loader-min:before,
.loader-min:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader-min:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}




@keyframes jump {
    15% {
        border-bottom-right-radius: 3px;
    }

    25% {
        transform: translateY(9px) rotate(22.5deg);
    }

    50% {
        transform: translateY(18px) scale(1, .9) rotate(45deg);
        border-bottom-right-radius: 40px;
    }

    75% {
        transform: translateY(9px) rotate(67.5deg);
    }

    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shadow {

    100% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.2, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {
    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }
    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }
    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }
    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }
    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }
    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }
    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }
    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}