.cart {
  border: 1px solid white;
  position: relative;
  height: 45px;
  padding: 15px 10px 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 35px;
  background-color: rgb(2, 9, 78);
  cursor: pointer;
}

.cartImg {
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.cartProducts {
  font-size: 20px;
  color: #ffffff;
}

.productNumber {
  position: absolute;
  left: 33px;
  top:2px;
  padding: 5px 10px;
  border-radius: 50%;
  color: #02094e;
  background-color: white;
  font-weight: bold;
}