<section class="about">
    <div class="about__container">
        <div class="title title--position-about">People Are Talking About Fork</div>
        <div class="about__reviews">
            <div class="about__review">
                <img class="review-icon review-icon-1" src="./dist/img/logo1.png" alt="logo">
                <div class="review-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                    Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
                </div>
            </div>

            <div class="about__review">
                <img class="review-icon review-icon-2" src="./dist/img/logo2.png" alt="logo">
                <div class="review-text">Donec euismod dolor ut ultricies consequat. Vivamus urna ipsum, rhoncus
                    molestie neque ac, mollis eleifend nibh.
                </div>
            </div>

            <div class="about__review">
                <img class="review-icon review-icon-3" src="./dist/img/logo3.png" alt="logo">
                <div class="review-text">In efficitur in velit et tempus. Duis nec odio dapibus, suscipit erat
                    fringilla, imperdiet nibh. Morbi tempus auctor felis ac vehicula.
                </div>
            </div>

            <div class="about__review">
                <img class="review-icon review-icon-4" src="./dist/img/logo4.png" alt="logo">
                <div class="review-text">Sed vestibulum scelerisque urna, eu finibus leo facilisis sit amet.
                    Proin id dignissim magna. Sed varius urna et pulvinar venenatis.
                </div>
            </div>

            <div class="about__review">
                <img class="review-icon review-icon-5" src="./dist/img/logo5.png" alt="logo">
                <div class="review-text">Praesent ut eros tristique, malesuada lectus vel, lobortis massa. Nulla
                    faucibus lorem id arcu consequat faucibus.
                </div>
            </div>

            <div class="about__review">
                <img class="review-icon review-icon-6" src="./dist/img/logo6.png" alt="logo">
                <div class="review-text">Fusce pharetra erat id odio blandit, nec pharetra eros venenatis.
                    Pellentesque porttitor cursus massa et vestibulum.
                </div>
            </div>

        </div>
        <div class="about__footer about__footer--position">Duis lobortis arcu sed arcu tincidunt feugiat. Nulla nisi mauris, facilisis vitae aliquet id, imperdiet quis nibh. Donec eget elit eu libero tincidunt consequat nec elementum orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. </div>
    </div>
</section>