<section class="editor">
    <div class="editor__container">
         <h2 class="editor__title">Revolutionary editor</h2>
        <div class="editor__description editor__description--position">Aenean cursus imperdiet nisl id
            fermentum. Aliquam pharetra dui laoreet
            vulputate dignissim. Sed id metus id quam auctor molestie eget ut augue.
        </div>

        <div class="editor__buttons">

            <div class="editor__button">
                <div class="button__icon">
                            <span>
                                <svg width="16" height="16">
                    <path fill-rule="evenodd"
                          d="M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z">

                    </path>
                </svg>
                                Watch
                            </span>
                </div>
                <div class="button__value">1,172</div>
            </div>

            <div class="editor__button">
                <div class="button__icon">
                            <span>
                             <svg width="14" height="16">
                    <path fill-rule="evenodd"
                          d="M14 6l-4.9-.64L7 1 4.9 5.36 0 6l3.6 3.26L2.67 14 7 11.67 11.33 14l-.93-4.74L14 6z"></path>
                </svg>
                                Start
                            </span>
                </div>
                <div class="button__value">4,172</div>
            </div>

            <div class="editor__button">
                <div class="button__icon">
                            <span>
                               <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16"
                                    data-view-component="true">
    <path fill-rule="evenodd"
          d="M5 3.25a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm0 2.122a2.25 2.25 0 10-1.5 0v.878A2.25 2.25 0 005.75 8.5h1.5v2.128a2.251 2.251 0 101.5 0V8.5h1.5a2.25 2.25 0 002.25-2.25v-.878a2.25 2.25 0 10-1.5 0v.878a.75.75 0 01-.75.75h-4.5A.75.75 0 015 6.25v-.878zm3.75 7.378a.75.75 0 11-1.5 0 .75.75 0 011.5 0zm3-8.75a.75.75 0 100-1.5.75.75 0 000 1.5z"></path>
</svg>
                                Fork
                            </span>
                </div>
                <div class="button__value">2,172</div>
            </div>

        </div>
    </div>
</section>