<section class="get">
    <div class="get__container">
        <div class="get__inner">

            <h3 class="get__title">&lt;Here is what you get&gt;</h3>

            <div class="get__items">

                <div class="get__item">

                    <img class="item-icon-1 item-icon-1--position" src="./dist/img/icon1.png">

                    <div class="item-text">
                        <h5 class="text-title">Creatred to Make The Web Better</h5>
                        <p class="text-description">Aenean cursus imperdiet nisl id fermentum. Aliquam pharetra
                            dui laoreet vulputate dignissim. Sed id metus id quam auctor molestie eget ut
                            augue.</p>
                    </div>
                </div>

                <div class="get__item">
                    <img class="item-icon-2 item-icon-2--position" src="./dist/img/icon2.png">
                    <div class="item-text">
                        <h5 class="text-title">Incredibly Powerful Tool</h5>
                        <p class="text-description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
                            luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>

                <div class="get__item">

                    <img class="item-icon-3 item-icon-3--position" src="./dist/img/icon3.png">
                    <div class="item-text">
                        <h5 class="text-title">Experimental Stuff</h5>
                        <p class="text-description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
                            luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>

                <div class="get__item">

                    <img class="item-icon-4 item-icon-4--position" src="./dist/img/icon4.png">
                    <div class="item-text">
                        <h5 class="text-title">Creatred to Make The Web Better</h5>
                        <p class="text-description">Maecenas eu dictum felis, a dignissim nibh. Mauris rhoncus
                            felis odio, ut volutpat massa placerat ac. Curabitur dapibus iaculis mi gravida
                            luctus. Aliquam erat volutpat. </p>
                    </div>
                </div>

            </div>

            <div class="get__picture-img"></div>
        </div>
    </div>
</section>