<header class="header header--position">
    <div class="header__container">
        <nav class="header__top header__top--position">
            <div class="header__logo">

                <svg class="header__logo-img" width="45" height="45"version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"  viewBox="0 0 241 234" enable-background="new 0 0 241 234" xml:space="preserve">
    <path fill="#8F83AE" opacity="1.000000" stroke="none"
          d="M154.781403,126.762329
    	C153.152527,145.110870 151.565247,162.998352 149.965942,180.884750
    	C149.329254,188.005463 148.861588,195.150543 147.894623,202.226807
    	C147.607422,204.328613 146.324631,206.727356 144.741547,208.145691
    	C137.055939,215.031372 129.149307,221.673035 121.247414,228.313629
    	C116.863457,231.997803 113.758270,231.809525 110.112480,227.492386
    	C103.345840,219.479782 96.562370,211.467834 90.186501,203.148605
    	C88.655327,201.150726 87.947601,197.896103 88.132210,195.310211
    	C89.351906,178.225113 90.883827,161.161743 92.381973,144.097260
    	C93.879623,127.038399 95.474098,109.988068 96.994659,92.931183
    	C99.297813,67.095398 101.528503,41.253048 103.893234,15.422940
    	C104.479210,9.022279 107.297600,6.599138 113.795517,7.120686
    	C126.059586,8.105048 138.299164,9.394909 150.548111,10.566266
    	C151.209351,10.629500 151.860031,10.799155 152.520859,10.871122
    	C163.997910,12.121007 164.833054,13.582706 163.731644,25.450710
    	C160.613113,59.053738 157.769852,92.682312 154.781403,126.762329
    M103.016670,184.625626
    	C103.622223,187.029648 100.816490,191.032898 105.356697,191.567307
    	C115.046753,192.707886 124.802849,193.287308 135.189011,194.151337
    	C138.945511,150.708420 142.658890,107.764038 146.407013,64.417854
    	C135.138535,63.488514 124.653450,62.623787 113.792953,61.728096
    	C110.172569,102.928635 106.623512,143.317444 103.016670,184.625626
    M115.025040,46.203430
    	C118.577003,46.924118 122.099556,47.905224 125.687149,48.310547
    	C132.858810,49.120800 140.066132,49.615566 147.542740,50.265285
    	C148.319397,41.423393 149.022232,33.421787 149.769989,24.908754
    	C138.709610,23.922184 128.081039,22.974131 117.162651,22.000225
    	C116.407127,30.161493 115.705612,37.739342 115.025040,46.203430
          M40.155441,203.140274
          C30.817968,203.055496 28.244844,200.518692 28.304138,191.394043
          C28.391695,177.920013 28.757158,164.446915 28.729132,150.973999
          C28.725233,149.099838 27.557751,146.857407 26.237246,145.421570
          C20.831474,139.543579 15.148586,133.920929 9.585258,128.187256
          C4.793233,123.248528 4.777731,119.285873 9.560269,114.399254
          C14.801823,109.043655 19.940371,103.574707 25.405012,98.455322
          C28.095486,95.934837 29.031727,93.285294 28.926010,89.680054
          C28.560333,77.209396 28.400642,64.731171 28.300058,52.254726
          C28.217524,42.017048 30.402420,39.864300 40.362682,39.864162
          C44.693016,39.864105 49.023575,39.841000 53.353622,39.877369
          C57.809731,39.914795 60.080620,42.586193 60.618366,46.638290
          C61.116619,50.392834 57.757710,53.770313 53.502533,54.031128
          C50.542511,54.212559 47.562393,54.066055 44.048752,54.066055
          C43.923019,56.257236 43.739544,58.006832 43.735653,59.756821
          C43.709728,71.415382 43.616573,83.075470 43.774509,94.731949
          C43.837070,99.349236 42.661175,102.997002 39.024788,106.170471
          C33.770485,110.755898 28.956388,115.845757 23.321245,121.337509
          C28.837297,126.756256 33.894001,131.952515 39.212753,136.865036
          C42.536789,139.935181 43.841156,143.434906 43.783958,147.922806
          C43.612347,161.388016 43.722179,174.856812 43.722179,189.113586
          C47.029984,189.113586 49.960960,189.021683 52.884026,189.134613
          C57.529129,189.314072 60.540752,192.078476 60.554329,196.001129
          C60.568401,200.066940 57.339481,203.025864 52.621849,203.120605
          C48.626171,203.200851 44.627640,203.139114 40.155441,203.140274
        M201.678513,54.258347
    	C198.390640,54.120018 195.538040,54.270035 192.737930,53.954357
    	C188.634109,53.491695 186.380539,50.679031 186.455521,46.829788
    	C186.530014,43.005615 188.783951,40.090206 192.963425,39.943851
    	C199.116409,39.728390 205.290665,39.702984 211.440720,39.959557
    	C216.072281,40.152782 218.161911,43.272701 218.167557,49.260319
    	C218.180115,62.580898 218.291031,75.904076 218.049942,89.220551
    	C217.977905,93.200287 219.017502,96.100624 221.967651,98.837227
    	C227.210800,103.700844 232.107941,108.940384 237.098602,114.072464
    	C242.439713,119.564903 242.382523,122.988548 236.892593,128.526947
    	C231.500473,133.966660 225.937515,139.245651 220.739456,144.863434
    	C219.332291,146.384201 218.268433,148.870773 218.250534,150.924545
    	C218.127258,165.069016 218.275192,179.216827 218.438583,193.362381
    	C218.510483,199.587585 215.416626,203.042542 209.238403,203.120819
    	C204.077469,203.186218 198.914841,203.149658 193.753189,203.120193
    	C189.340240,203.095016 186.912674,200.571518 186.422791,196.461655
    	C185.964798,192.619308 189.274368,189.419067 193.663010,189.159149
    	C196.615173,188.984314 199.586060,189.125870 203.284500,189.125870
    	C203.284500,186.221970 203.284485,183.795151 203.284500,181.368332
    	C203.284622,169.879089 203.014786,158.379318 203.461334,146.907455
    	C203.583664,143.764786 205.183380,140.122238 207.271545,137.725220
    	C212.173843,132.097870 217.780960,127.084549 223.692764,121.239403
    	C218.183151,115.777710 212.646011,110.804062 207.786545,105.238693
    	C205.590912,102.724083 203.616989,99.078430 203.485001,95.866081
    	C202.986328,83.731285 203.328827,71.563385 203.233475,59.408844
    	C203.220184,57.715961 202.519653,56.028465 201.678513,54.258347
    z"/>
    </svg>

                <svg class="header__logo-text" width="90" height="19" viewBox="0 0 90 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M4.172 3.216V8.352H10.676V10.932H4.172V18H0.932V0.647999H11.876V3.216H4.172ZM30.9097 9.324C30.9097 10.596 30.6977 11.776 30.2737 12.864C29.8577 13.944 29.2657 14.88 28.4977 15.672C27.7297 16.464 26.8057 17.084 25.7257 17.532C24.6457 17.972 23.4457 18.192 22.1257 18.192C20.8137 18.192 19.6177 17.972 18.5377 17.532C17.4577 17.084 16.5297 16.464 15.7537 15.672C14.9857 14.88 14.3897 13.944 13.9657 12.864C13.5417 11.776 13.3297 10.596 13.3297 9.324C13.3297 8.052 13.5417 6.876 13.9657 5.796C14.3897 4.708 14.9857 3.768 15.7537 2.976C16.5297 2.184 17.4577 1.568 18.5377 1.128C19.6177 0.68 20.8137 0.456 22.1257 0.456C23.0057 0.456 23.8337 0.559999 24.6097 0.767999C25.3857 0.967999 26.0977 1.256 26.7457 1.632C27.3937 2 27.9737 2.452 28.4857 2.988C29.0057 3.516 29.4457 4.108 29.8057 4.764C30.1657 5.42 30.4377 6.132 30.6217 6.9C30.8137 7.668 30.9097 8.476 30.9097 9.324ZM27.6097 9.324C27.6097 8.372 27.4817 7.52 27.2257 6.768C26.9697 6.008 26.6057 5.364 26.1337 4.836C25.6617 4.308 25.0857 3.904 24.4057 3.624C23.7337 3.344 22.9737 3.204 22.1257 3.204C21.2777 3.204 20.5137 3.344 19.8337 3.624C19.1617 3.904 18.5857 4.308 18.1057 4.836C17.6337 5.364 17.2697 6.008 17.0137 6.768C16.7577 7.52 16.6297 8.372 16.6297 9.324C16.6297 10.276 16.7577 11.132 17.0137 11.892C17.2697 12.644 17.6337 13.284 18.1057 13.812C18.5857 14.332 19.1617 14.732 19.8337 15.012C20.5137 15.292 21.2777 15.432 22.1257 15.432C22.9737 15.432 23.7337 15.292 24.4057 15.012C25.0857 14.732 25.6617 14.332 26.1337 13.812C26.6057 13.284 26.9697 12.644 27.2257 11.892C27.4817 11.132 27.6097 10.276 27.6097 9.324ZM38.9885 8.904C39.5965 8.904 40.1245 8.828 40.5725 8.676C41.0285 8.524 41.4005 8.316 41.6885 8.052C41.9845 7.78 42.2045 7.46 42.3485 7.092C42.4925 6.724 42.5645 6.32 42.5645 5.88C42.5645 5 42.2725 4.324 41.6885 3.852C41.1125 3.38 40.2285 3.144 39.0365 3.144H36.9725V8.904H38.9885ZM47.2925 18H44.3765C43.8245 18 43.4245 17.784 43.1765 17.352L39.5285 11.796C39.3925 11.588 39.2405 11.44 39.0725 11.352C38.9125 11.264 38.6725 11.22 38.3525 11.22H36.9725V18H33.7445V0.647999H39.0365C40.2125 0.647999 41.2205 0.771999 42.0605 1.02C42.9085 1.26 43.6005 1.6 44.1365 2.04C44.6805 2.48 45.0805 3.008 45.3365 3.624C45.5925 4.232 45.7205 4.904 45.7205 5.64C45.7205 6.224 45.6325 6.776 45.4565 7.296C45.2885 7.816 45.0405 8.288 44.7125 8.712C44.3925 9.136 43.9925 9.508 43.5125 9.828C43.0405 10.148 42.5005 10.4 41.8925 10.584C42.1005 10.704 42.2925 10.848 42.4685 11.016C42.6445 11.176 42.8045 11.368 42.9485 11.592L47.2925 18ZM52.3944 7.92H53.1504C53.4544 7.92 53.7064 7.88 53.9064 7.8C54.1064 7.712 54.2784 7.576 54.4224 7.392L59.2104 1.332C59.4104 1.076 59.6184 0.899999 59.8344 0.803999C60.0584 0.699999 60.3384 0.647999 60.6744 0.647999H63.4584L57.6144 7.86C57.2704 8.3 56.9144 8.612 56.5464 8.796C56.8104 8.892 57.0464 9.028 57.2544 9.204C57.4704 9.372 57.6744 9.596 57.8664 9.876L63.8904 18H61.0464C60.6624 18 60.3744 17.948 60.1824 17.844C59.9984 17.732 59.8424 17.572 59.7144 17.364L54.8064 10.956C54.6544 10.74 54.4784 10.588 54.2784 10.5C54.0784 10.412 53.7904 10.368 53.4144 10.368H52.3944V18H49.1664V0.647999H52.3944V7.92ZM68.8595 18H65.6195V0.647999H68.8595V18ZM89.2925 9.324C89.2925 10.596 89.0805 11.776 88.6565 12.864C88.2405 13.944 87.6485 14.88 86.8805 15.672C86.1125 16.464 85.1885 17.084 84.1085 17.532C83.0285 17.972 81.8285 18.192 80.5085 18.192C79.1965 18.192 78.0005 17.972 76.9205 17.532C75.8405 17.084 74.9125 16.464 74.1365 15.672C73.3685 14.88 72.7725 13.944 72.3485 12.864C71.9245 11.776 71.7125 10.596 71.7125 9.324C71.7125 8.052 71.9245 6.876 72.3485 5.796C72.7725 4.708 73.3685 3.768 74.1365 2.976C74.9125 2.184 75.8405 1.568 76.9205 1.128C78.0005 0.68 79.1965 0.456 80.5085 0.456C81.3885 0.456 82.2165 0.559999 82.9925 0.767999C83.7685 0.967999 84.4805 1.256 85.1285 1.632C85.7765 2 86.3565 2.452 86.8685 2.988C87.3885 3.516 87.8285 4.108 88.1885 4.764C88.5485 5.42 88.8205 6.132 89.0045 6.9C89.1965 7.668 89.2925 8.476 89.2925 9.324ZM85.9925 9.324C85.9925 8.372 85.8645 7.52 85.6085 6.768C85.3525 6.008 84.9885 5.364 84.5165 4.836C84.0445 4.308 83.4685 3.904 82.7885 3.624C82.1165 3.344 81.3565 3.204 80.5085 3.204C79.6605 3.204 78.8965 3.344 78.2165 3.624C77.5445 3.904 76.9685 4.308 76.4885 4.836C76.0165 5.364 75.6525 6.008 75.3965 6.768C75.1405 7.52 75.0125 8.372 75.0125 9.324C75.0125 10.276 75.1405 11.132 75.3965 11.892C75.6525 12.644 76.0165 13.284 76.4885 13.812C76.9685 14.332 77.5445 14.732 78.2165 15.012C78.8965 15.292 79.6605 15.432 80.5085 15.432C81.3565 15.432 82.1165 15.292 82.7885 15.012C83.4685 14.732 84.0445 14.332 84.5165 13.812C84.9885 13.284 85.3525 12.644 85.6085 11.892C85.8645 11.132 85.9925 10.276 85.9925 9.324Z" fill="#8D81AC"/>
                </svg>

            </div>
            <button class="btn btn--grid-elem">Buy Now</button>
            <div class="ham-menu">
                <span class="line line1"></span>
                <span class="line line2"></span>
                <span class="line line3"></span>
            </div>
            <ul class="ham-menu-content">
                <li class="ham-menu-item">
                    <a href="#" class="ham-menu-link">Overview</a>
                </li>
                <li class="ham-menu-item">
                    <a href="#" class="ham-menu-link">About Fork</a>
                </li>
                <li class="ham-menu-item">
                    <a href="#" class="ham-menu-link">Buying Options</a>
                </li>
                <li class="ham-menu-item">
                    <a href="#" class="ham-menu-link">Support</a>
                </li>
            </ul>

            <ul class="header__menu-list">
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Overview</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">About Fork</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Buying Options</a>
                </li>
                <li class="header__menu-item">
                    <a href="#" class="header__menu-link">Support</a>
                </li>
            </ul>
        </nav>


        <div class="header__content">
            <h1 class="header__content-title">Fork App</h1>
            <h3 class="header__content-slogan">A real gamechanger in the world of web development</h3>
            <p class="header__content-description">v. 2.8 For Mac and Windows</p>
        </div>
        <div class="header__download">
            <button class="btn btn--foot">Download For Free Now</button>
        </div>

    </div>
</header>