<section class="pricing">
    <div class="pricing__container">
        <div class="title title--position">Fork Subscription Pricing</div>
        <div class="pricing__cards">
            <div class="pricing__card">
                <div class="card__head">Students</div>
                <div class="card__content">
                    <div class="card__price"><span>&#36;</span>29</div>
                    <div class="card__term">per month</div>
                    <div class="card__features">
                        <div class="card__feature card__features--position">Personal License</div>
                        <div class="card__feature"></div>
                    </div>
                    <button class="btn-purchase btn-purchase--position">Purchase</button>
                </div>
            </div>

            <div class="pricing__card">
                <div class="card__head">professional</div>
                <div class="card__content">
                    <div class="card__price"><span>&#36;</span>59</div>
                    <div class="card__term">per month</div>
                    <div class="card__features card__features--position2">
                        <div class="card__feature">Professional License</div>
                        <div class="card__feature">Email Support</div>
                    </div>
                    <button class="btn-purchase btn-purchase--position">Purchase</button>
                </div>
            </div>

            <div class="pricing__card pricing__card--third">
                <div class="card__head card__head--third">agency</div>
                <div class="card__content card__content--third">
                    <div class="card__price card__price--third"><span>&#36;</span>99</div>
                    <div class="card__term card__term--third">per month</div>
                    <div class="card__features card__features--position3">
                        <div class="card__feature">1-12 Team Members</div>
                        <div class="card__feature">Phone Support</div>
                    </div>
                    <button class="btn-purchase btn-purchase--position">Purchase</button>
                </div>
            </div>

            <div class="pricing__card pricing__card--last">
                <div class="card__head">enterprise</div>
                <div class="card__content">
                    <div class="card__price"><span>&#36;</span>159</div>
                    <div class="card__term">per month</div>
                    <div class="card__features card__features--position2">
                        <div class="card__feature">Unlimited Team Members</div>
                        <div class="card__feature">24/ 7 Phone Support</div>
                    </div>
                    <button class="btn-purchase btn-purchase--position">Purchase</button>
                </div>
            </div>
        </div>
    </div>

</section>