.cartWrapper {
  height: 100%;
}

.title {
  margin-bottom: 10px;
  height: 100px;
  font-family: Roboto, sans-serif;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.cartMain {
  margin: 0 auto 30px;
  padding: 10px 30px;
  width: 700px;
  min-height: 100px;
  background-color: #bdc9cf;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cartTotal {
  color: #02094e;
}

.cardList {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cartProduct{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  background-color: #02094e;
}

.cartLeftBlock {
  display: flex;
  column-gap: 15px;
  align-items: center;
}

.cartRightBlock {
  display: flex;
  column-gap: 15px;
}

.delBtn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  padding-right: 10px;
  transition: all 0.25s;

  &:hover {
    transform: scale(1.2);
  }
}

.cartImg {
  width: 60px;
  object-fit: cover;
}

.cartLogo{
  width: 40px;
  height: 60px;
  object-fit: cover;
}

.checkoutBtn {
  align-self: center;
  padding: 10px;
  background-color: #3c48b3;
  border: none;
  border-radius: 7px;
  font-family: Lato, sans-serif;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
   transform: scale(1.1);
  }
}

.link {
  max-height: 60px;
  text-decoration: none;
  color: #ffffff;
}

