.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../img/background 1.png");
    background-position: center center;
    background-size: cover;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.container{
    width: 1028px;
}

.header{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-between;
    margin-top: 46px;
    margin-bottom: 17px;
}

a{
    color: currentColor;
}

.logo{
    width: 180px;
    height: 51px;
    display: flex;
    gap: 8px;
    color: #FFFFFF;
    cursor: pointer;
    align-self: center;
}

.svg-logo{
    width: 53px;
    height: 47px;
    fill: currentColor;
    align-self: flex-end;
}

.logo-text{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo-text-1{
    font-size: 29px;
    line-height: 29px;
    font-weight: 700;
}

.logo-text-2{
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
}

.contacts{
    width: 219px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}

.content{
    width: 100%;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.box{
    width: 300px;
    height: 220px;
    background-size: cover;
    background-position: center center;
    position: relative;
    overflow: hidden;
}

.cart-1 {
    background-image: url("../img/carts/image-1.png");
}

.cart-2 {
    background-image: url("../img/carts/image-2.png");
}

.cart-3 {
    background-image: url("../img/carts/image-3.png");
}

.cart-4 {
    background-image: url("../img/carts/image-4.png");
}

.cart-5 {
    background-image: url("../img/carts/image-5.png");
}

.cart-6 {
    background-image: url("../img/carts/image-6.png");
}

.hide-item{
    width: 100%;
    height: 55px;
    background-color:#F26522;
    padding: 7px 14px 12px 16px;
    position: absolute;
    bottom: -55px;
    transition: 1s;
}

.hide-item > div:first-child{
    font-size: 10px;
    line-height: 10px;
}

.price{
    width: 100%;
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price > div:first-child{
    font-size: 20px;
    line-height: 20px;
}

.view{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-right: 14px;
    gap: 16px;
}

.view::after{
    content: '';
    width: 7px;
    height: 7px;
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transform: rotate(-45deg);
    align-self: center;
}

.cart-name{
    display: block;
    margin-top: 20px ;
    text-align: center;
}

.footer {
    margin-top: 49px;
    margin-bottom: 15px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
}

/*hover*/

.logo:hover{
    color:#F26522;
}

.mail:hover {
    color: #F26522;
}

.tel:hover {
    color: #F26522;
}

.cart:hover .hide-item{
    bottom: 0;
}

.cart:hover .cart-name{
    color: #F26522;
}





