.cart {
  position: absolute;
  top: 10px;
  right: 220px;
  width: 280px;
  height: 65px;
  padding: 15px 10px 15px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 30px;
  background-color: rgb(2, 9, 78);
  cursor: pointer;
}

.cartImg {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.cartProducts {
  font-size: 26px;
  color: #ffffff;
}

.productNumber {
  position: absolute;
  left: 50px;
  top:5px;
  padding: 5px 10px;
  border: 2px solid #02094e;
  border-radius: 50%;
  color: #02094e;
  background-color: white;
  font-weight: bold;
}