*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000000;
    overflow: hidden;
}

.content-wrapper{
    perspective: 400px;
}

.content{
    width: 700px;
    height: 800px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    font-size: 50px;
    color:#ffffff;
    transform: rotateX(45deg) rotateY(0deg);
    transform-style: preserve-3d;
}

.items{
    font-family: Arial, sans-serif;
    font-weight: 700;
    color: #fcd000;
    animation: textMove 30s linear infinite;
    animation-fill-mode: forwards;
}

.paragraph{
    text-align:center;
    margin-bottom: 50px;
}

@keyframes textMove {
    0%{
        transform: translateY(200px);
    }


    80% {
        opacity: 1;
    }
    90% {
        opacity: 0.3;
    }
    100%{
        transform: translateY(-1200px);
        opacity: 0;
    }

}