.cartWrapper {
  position: absolute;
  top: 100px;
  right: 170px;
  width: 400px;
  min-height: 100px;
  background-color: #bdc9cf;
  color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cartTotal {
  color: #02094e;
}

.cardList {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cartProduct{
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  padding: 5px;
  background-color: #02094e;

}

.cartRightBlock {
  display: flex;
  column-gap: 15px;
}

.delBtn {
  border: none;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  padding-right: 10px;

  &:hover {
    transform: scale(1.1);
  }
}