@import url('./reset.css');
@import url('../fonts/fonts.css');

.wrapper {
    width: 100vw;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: #000000;
}

/*Sidebar*/

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100vh;
    padding-left: 150px;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.logo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo:hover{
    background-color: rgb(196, 225, 244);
}

.logo-img {
    width: 50px;
    height: 50px;
}

.list-menu {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.list-item{
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding: 5px;
    max-width: 220px;
    cursor: pointer;
}

.list-item:hover {
    background-color: #1d9bf0;
    border-radius: 12px;
}

.list-item:hover svg {
    fill: #ffffff;
}

.list-item:hover .link-item{
    color: #ffffff;
}

.icon {
    width: 50px;
    height: 50px;
}

.link-item {
    font-size: 24px;
    color: #0f1419;
}

/*MAIN*/

.main {
    margin-left: 410px;
    display: flex;
    column-gap: 20px;
}

/*CARDS*/

.cards {
    padding: 10px;
    width: 700px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-around;
    border-left: 1px solid #cfd9d9;
    border-right: 1px solid #cfd9d9;
}

.card {
    position: relative;
    width: 700px;
    padding: 10px 50px 40px 50px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    border-bottom: 1px solid #cfd9d9;
}

.card-content{
    display: flex;
    column-gap: 20px;
}

.card-avatar {
    border-radius: 50%;
}

.card-main-block {
    display: flex;
    row-gap: 10px;
    flex-direction: column;
}

.card-author {
    font-size: 16px;
    font-weight: bold;
    color: #0f1419;
}

.card-author > span {
    color: #536471;
}

.card-title {
    max-width: 488px;
    color: #056cb1;
    font-weight: bold;
    font-style: italic;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.card-text {
    max-width: 488px;
    color: #000000;
    text-align: justify;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.btn-del {
    position: absolute;
    top: 5px;
    right: 0;
    padding: 7px;
    border: none;
    border-radius: 10px;
    font-family: "fontello", sans-serif;
    color: #1d9bf0;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.25s;
}

.btn-del:hover{
    transform: scale(1.1);
    color: #fff;
    background-color: #1d9bf0;
}

.btn-change {
    position: absolute;
    top: 55px;
    right: 0;
    padding: 7px;
    border: none;
    border-radius: 10px;
    font-family: "fontello", sans-serif;
    color: #1d9bf0;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.25s;
}

.btn-change:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #1d9bf0;
}

/*SEARCH-BLOCK*/

.search-block{
    position: fixed;
    top:20px;
    left: 1200px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.search {
    height: 40px;
    width: 200px;
    background: #e4e9ed;
    padding: 20px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    color: #1181a4;
}

.search:focus{
    outline: 2px solid #1181a4;
}

.btn-tweet{
    max-width: 200px;
    background-color: #1d9bf0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 70px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.btn-tweet:hover{
    transform: scale(1.1);
}

.hide {
    display: none;
}

mark {
    background-color: #98c7e7;
    font-weight: bold;
}

.block-no-matches {
    display: none;
    padding-top: 40px;

}

.block-no-matches.show {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}
.no-img {
    width: 400px;
    height: 200px;
}

.no-text {
    text-align: center;
    color: #000000;
    font-size: 40px;
    max-width: 480px;
    word-wrap: break-word;
    overflow-wrap: break-word
}

.no-text span {
    color: darkred;
    text-decoration: underline;
}

/*LOADER*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
    display: none;
}

.loader.show {
    display: block;
}

.loader-element {
    width: 175px;
    height: 80px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-image: radial-gradient(circle 25px at 25px 25px, #1d9bf0 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #1d9bf0 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #1d9bf0 100%, transparent 0), linear-gradient(#1d9bf0 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.loader-element::after {
    content: '';
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    position: absolute;
    border: 15px solid transparent;
    border-top-color: #ffffff;
    box-sizing: border-box;
    animation: fadePush 1s linear infinite;
}

.loader-element::before {
    content: '';
    left: 50%;
    bottom: 30px;
    transform: translate(-50%, 0);
    position: absolute;
    width: 15px;
    height: 15px;
    background: #ffffff;
    box-sizing: border-box;
    animation: fadePush 1s linear infinite;
}

/*MODAL CREATE*/

.modal-tweet {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
    display: none;
}

.modal-tweet.active {
    display: block;
}

.modal-tweet-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 350px;
    max-width: 350px;
    height: 300px;
    max-height: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #8cc5ed;
    padding: 10px 5px 10px 5px;
    align-items: center;
}

.modal-tweet-title {
    resize: none;
    width: 330px;
    height: 70px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    color: #056cb1;
    font-weight: bold;
    font-size: 18px;
}

.modal-tweet-text {
    width: 330px;
    max-width: 340px;
    height: 350px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    resize: none;
    border: none;
    border-radius: 10px;
}

.modal-tweet-btn-create {
    background-color: #1d9bf0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.modal-tweet-btn-close {
    position: absolute;
    top: -45px;
    right: -25px;
    border: none;
    border-radius: 10px;
    font-family: "fontello", sans-serif;
    color: #1d9bf0;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.25s;
}

/*MODAL-CHANGE*/

.modal-change {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
    display: none;
}

.modal-change.active {
    display: block;
}

.modal-change-content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 350px;
    max-width: 350px;
    height: 300px;
    max-height: 400px;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: #8cc5ed;
    align-items: center;
}

.modal-change-title {
    resize: none;
    width: 330px;
    height: 70px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    color: #056cb1;
    font-weight: bold;
    font-size: 18px;
}

.modal-change-text {
    resize: none;
    width: 330px;
    height: 350px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
}

.modal-change-btn-create {
    background-color: #1d9bf0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.modal-change-btn-close {
    position: absolute;
    top: -45px;
    right: -25px;
    border: none;
    border-radius: 10px;
    font-family: "fontello", sans-serif;
    color: #1d9bf0;
    font-size: 28px;
    cursor: pointer;
    transition: all 0.25s;
}


@keyframes fadePush {
    0% {
        transform: translate(-50%, -15px);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, 0px);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 15px);
        opacity: 0;
    }
}

@media (max-width: 1340px) {
    .search-block {
        display: none;
    }
}