.container {
  padding:50px;
  display: flex;
  column-gap: 50px;
}

.btnModalDel{
  width: 101px;
  height: 41px;
  border-radius: 4px;
  background-color: #b3382c;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    transform: scale(1.1);
  }
}

.btnModalData{
  width: 101px;
  height: 41px;
  border-radius: 10px;
  background-color: #92d2f4;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 30px;
  color: #02094e;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    transform: scale(0.9);
  }
}