.header {
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #02094e;
}

.titleBlock {
  height: 70px;
  display: flex;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 50px;
  padding-top: 2px;
  object-fit: cover;
  border-radius: 10px;
}

.titleText {
  height: 60px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #ffffff;
}

.slogan{
  padding: 2px 5px;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #02094e;
  background-color: white;
  border-radius: 5px;
}

.navList {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

.link {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.iconHome {
  width: 35px;
  object-fit: cover;
}