@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular.eot');
    src: local('Roboto'),
    url('../fonts/roboto-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular.woff2') format('woff2'),
    url('../fonts/roboto-regular.woff') format('woff'),
    url('../fonts/roboto-regular.svg') format('svq'),
    url('../fonts/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.wrapper{
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #000000;
}

.logo{
    font-size: 80px;
    line-height: 94px;
    margin: 63px 0 40px;
}

.logo-link{
    color: #000000;
}

.logo-link-color{
    color: #4BCAFF;
}

.nav-header{
    display:flex;
    justify-content: center;
    height: 69px;
    background-color: #35444F;
}

.header-list{
    display:flex;
    width: 988px;
}

.header-list>li{
    display: block;
    border-left: 1px solid white;
    padding-top: 24px;
    padding-bottom: 18px;
}
.header-list>li>a{
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.header-list>li:last-of-type{
    border-right: 1px solid white;
}

.header-list-item-1{
    padding-left: 32px;
    padding-right: 32px;
}

.header-list-item-2{
    padding-left: 38px;
    padding-right: 38px;
}

.header-list-item-3{
    padding-left: 40px;
    padding-right: 40px;
}

.header-list-item-4{
    padding-left: 40px;
    padding-right: 18px;
}

.header-list>li:hover{
   background-color: #222F3A;
}

.content {
    display:flex;
    justify-content: space-between;
    margin-top: 48px;
}

.aside{
    width: 344px;
    height:399px;
    border: 1px solid #000000;
}

.aside-list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 342px;
}

.aside-list > li {
    width: 344px;
    height: 79.8px;
    padding-top: 26px;
    padding-bottom: 26px;
    text-indent: 5%;
    box-sizing: border-box;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}


.aside-list>li>a{
    display: block;
    font-size: 27px;
    color: #485863;
    padding-left: 44px;
}

.aside-list>li:hover{
    background-color: #DBDBDB;
    text-indent: 15%;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}
.aside-list>li:hover > a{
    color: #000000;
}


.main{
    width: 885px;
}

.section{
    border: 1px solid #000000;
    margin-bottom: 37px;
}

.img{
    margin: 74px auto;
    width: 320px;
    height: 381px;
    background-image: url('../img/img1.png');
    background-size: contain;
    transition: transform 0.5s;}


.img:hover{
    transform: scale(1.1);
}

.article-1, .article-2{
    width: 885px;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.article-1{
    margin-bottom: 34px;
}

.footer{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 21px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 51px;
    margin-bottom: 30px;
}

.footer-list{
    display:flex;
    justify-content: space-between;
    width: 820px;
}

.footer-list>li>a {
    font-size: 28px;
    color: #0C1927;
}

.footer-info{
    font-size: 28px;
    color: #010101;
}

.footer-list>li>a:hover{
    color:#3181A6;
    text-decoration: underline;
    text-underline-offset: 13px;
}


