.cardWrapper {
  position: relative;
  padding: 20px 10px 10px;
  width: 250px;
  height: 440px;
  background-color: #02094e;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.cardImg {
  width: 150px;
  height: 200px;
  min-height: 200px;
  object-fit: cover;
  border-radius: 15px;
}

.productName {
  align-self: center;
  width: 100%;
  padding: 0 5px;
  min-height: 60px;
  text-align: center;
  font-size: 20px;
  color: #02094e;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productArticle {
  color: #ffffff;
}

.productPrice {
  color: #ffffff;
  font-size: 30px;
}

.cardSelected {
  position: absolute;
  top: 6px;
  right: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btnBlock {
  display: flex;
  column-gap: 20px;
}

.link {
  text-decoration: none;
}

.linkName {
  text-decoration: none;
  width: 100%;
}
